*{
    margin: 0;
    padding: 0;
}
html {
    color: #222;
    font-size: 12px;
    line-height: 1.8em;
    font-family:"Microsoft YaHei";
    letter-spacing: 1px;
}
body
{
    background: #edf1f7;
}
.agreement {
    padding : 25px 3% 50px;
}

.agreement h1 {
    font-size: 16px;
}
.agreement .tips {
    font-size: 14px;
}
.agreement p {
    text-indent : 2em;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
}
.agreement table {
    border-top : 1px solid #999;
    border-left : 1px solid #999;
    border-spacing : 0;
}
.agreement table td {
    border-bottom : 1px solid #999;
    border-right : 1px solid #999;
    padding : 10px 10px;
    text-align: center;
}
.agreement table th {
    border-bottom : 1px solid #999;
    border-right : 1px solid #999;
    padding : 10px 10px;
    text-align: center;
}
.agreement table tr td:first-child {
    width : 34%;
}
.title-normal{ font-weight:bold;}
.agreement .title-sm {
    text-align  : left;
    margin      : 20px 0 10px;
    font-weight : bold;
    font-size: 15px;
}
.agreement .title-sm2 {
    text-align  : left;
    margin      : 20px 0 10px;
    font-weight : bold;
    font-size: 14px;
}
.agreement .title-sm3 {
    text-align  : left;
    margin      : 5px 0 10px;
    font-weight : bold;
    font-size: 13px;
}


.agreement ol li {
    list-style: none;//decimal
    margin: 12px 0;
    text-indent:2em;
    color:#5e5f60;
}
.agreement ol  {
    margin-left: 0px;
    padding: 0;
}

.agreement .header {
    text-align: right;
    margin      : 26px 0 10px;
    font-weight : bold;
    font-size: 16px;
}
.agreement .footer {
    text-align: right;
    font-size: 14px;
    margin      : 26px 0 0 0;
}
.agreement .left {
    text-align: left;
    margin      : 0 0 10px;
    font-size: 16px;
}

.agreement .title {
     text-align  : center;
     margin      : 0px 0 10px;
     font-weight : bold;
     font-size: 16px;
 }

.bolder {
    //font-weight: bolder;
    color:#5e5f60;
}
.emphasize{
    font-weight: bolder;
    text-decoration: underline;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-center {
    text-align: center;
    margin: 0 100px;
}

.devive {
    float: left;
    height : 20px;
    margin: 10px 0;
    width: 0;
    border-right: 1px solid #e1e3e5;
}
p{ color:#5e5f60;}
.margin20{ margin:20px 0; }
