<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>宜宾市商业银行电子账户服务协议</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
		<link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement">
		<h1 class="title">宜宾市商业银行电子账户服务协议</h1>
		<div class="margin20"><span class="title-normal">甲方：</span>客户</div>
		<div class="margin20"><span class="title-normal">乙方：</span>宜宾市商业银行股份有限公司</div>
		<p>甲方自愿申请使用乙方提供的电子账户服务，为明确双方的权利和义务，维护双方的合法权益，特签订本服务协议。
		</p>
		<div class="title-sm">第一条 定义</div>
		<ol>
			<li>1.1 “电子账户”指甲方通过互联网自助申请，并与本人同名实体银行卡进行绑定，经乙方核准后为甲方开立的，供甲方办理相关金融业务的个人人民币银行结算账户。
			</li>
			<li>1.2 预留手机号码：是指甲方在申请开立电子账户时，需预留本人使用的手机号码，该手机号码与申请开通的电子账户绑定，用于接收乙方发送的授权码、短信验证码以及交易提示短信等。乙方认为必要时，可通过此手机号码向甲方核实其身份信息和交易信息。
			</li>
		</ol>
		<div class="title-sm">第二条 电子银行账户申请与开立</div>
		<ol>
			<li>2.1 甲方申请开立乙方电子账户，需自愿申请并承诺具有完全民事行为能力。
			</li>
			<li>2.2 客户身份识别甲方申请开立乙方电子银行账户时，凭本人身份证，通过乙方自建或第三方平台按照乙方要求提供身份证件信息和其他信息。甲方承诺向乙方提供的身份信息真实、有效、归属本人。
			</li>
			<li>2.3 乙方审核通过甲方的电子账户开立申请后，由系统生成电子账户账号。
			</li>
		</ol>
		<div class="title-sm">第三条 账户功能</div>
			<ol>
				<p>甲方知悉并同意：
				</p>
				<li>
					(1) 甲方可以通过所绑定的本人同名实体银行卡账户向该电子账户划转资金；
				</li>
				<li>
					(2) 甲方可使用该电子账户享受乙方提供的存款、购买投资理财产品等金融产品、限定金额的消费和缴费支付等服务。
				</li>
				<li>(3) 电子账户只限甲方本人使用，不得出借、转让或出租。否则，由此产生的损失或法律责任由甲方自行承担。
				</li>
				<li>(4) 甲方对乙方提供的电子账户，应按乙方的规定进行操作，因操作不当造成的损失，乙方不承担任何责任。</li>
			</ol>
		<div class="title-sm">第四条 使用规则</div>
		<ol>
			<li>4.1 甲方在乙方开立、使用、撤销电子账户，应遵守《中华人民共和国反洗钱法》等国家相关法律法规和《人民币银行结算账户管理办法》等行政规章的规定，以及乙方的业务制度规定。
			</li>
			<li>4.2 甲方承诺向乙方提供的所有资料真实、有效、完整、准确、合法，提交的开户证件符合《个人存款账户实名制规定》，未由他人代办或冒充他人申请。如甲方提供的资料不符合要求或存在代办、冒充他人申请等情形，乙方有权拒绝甲方的申请，对于已经开立的电子账户，乙方有权终止协议。
			</li>
			<li>4.3 甲方应妥善保管电子账户的密码、个人有效身份证件、绑定的手机号码等个人信息和设备，如上述信息或设备出现遗失、泄露或被他人盗用的情况，甲方应立即通知乙方进行账户冻结，在申请完成前，已发生的损失由甲方自行承担。
			</li>
			<li>4.4 甲方有权按照乙方的电子账户业务规则向乙方发出划转电子账户资金的指令，乙方应实时执行乙方接收到的甲方指令。甲方同意，乙方将指令发出银行所能控制的乙方系统即为甲方指令执行完成。</li>
			<li>4.5 甲方知悉并同意，由于技术原因，乙方无法确保系统不间断无差错运行，但乙方出于电子账户维护升级的需要而停止电子账户的部分或全部功能时，应提前三个工作日通过网站公告。因乙方无法控制的原因发生电子账户系统停运，乙方将在发生停止运营后三日内通过网站公告。</li>
			<li>4.6 甲方可修改电子账户部分信息，可修改事项以乙方届时业务规则为准。</li>
			<li>4.7 甲方违规使用电子账户，乙方有权停止其使用该账户，由此产生的损失由甲方承担。</li>
			<li>4.8 电子账户不设有效期，在销户前均可使用。</li>
		</ol>
		<div class="title-sm">第五条 账户指令与记录</div>
		<ol>
			<li>5.1 电子账户的数据电文（包括但不限于甲方通过电子渠道传递的指令、电子账户交易信息等），为双方认同的书面证据，可视为该交易的有效凭证，但双方另有约定的除外。
			</li>
			<li>5.2 电子账户不寄送纸质对账单，甲方可通过指定渠道核对交易记录。如甲方对交易有异议，可致电乙方客户服务中心（0831—96578）。
			</li>
			<li>5.3 乙方发现有下列情形之一，有权不认可或不执行数据电文表达的甲方指令：
			</li>
			<ol>
				<li>(1) 乙方有充足的理由怀疑数据信息或甲方指令的真实性。
				</li>
				<li>(2) 乙方执行甲方指令将违反相关的法律、法规或行政规章的规定。
				</li>
				<li>(3) 甲方发出的数据电文表达的格式、内容、操作权限等不符合乙方要求。
				</li>
				<li>(4) 电子账户中的余额或账户状态不足以完成甲方指令（上述情况下乙方有权根据具体情况决定对数据电文表达的甲方指令不予执行或给予部分执行）。
				</li>
				<li>(5) 甲方违反本协议或双方已订立的其他协议或合同的。
				</li>
				<li>(6) 双方特别约定或法律法规规定的其他情况。
				</li>
			</ol>
			<li>5.4 甲方指令一经发出，除乙方允许情况外，不得要求撤销。
			</li>
		</ol>
		<div class="title-sm">第六条 信息采集、使用和披露</div>
		<ol>
			<li>6.1 乙方在法律允许的前提下，为业务和管理需要可收集、处理、传递及应用甲方的个人资料。乙方对甲方的个人隐私和商业秘密（包括申请表等）将依法予以保密，未经客户许可，乙方不向任何第三人提供或许可第三人使用客户个人信息，但依照法律、法规规定应向有权机关（包括但不限于向征信机构）披露，或银行为完善服务，必须向相关外包服务提供商提供的除外。
			</li>
		</ol>
		<div class="title-sm">第七条 银行责任的免除与限制</div>
			<ol>
				<li>7.1 甲方使用电子账户时，如非乙方过错而发生的数据电文错误或者对甲方指令识别、处理或执行错误时，乙方对因该项错误的发生所导致的损失和其他不利后果不承担责任；但乙方可在甲方处理时对甲方提供必要的协助。</li>
				<li>7.2 对于不可抗力（包括但不限于战争、自然灾害、电力供应中断、火灾、地震等）、意外事件或乙方无法控制的其他情况所造成的损失，乙方不承担责任。
				</li>
				<li>7.3 若发生乙方对于合法有效的甲方指令识别错误或执行错误，则甲方须在知道或应当知道错误发生后于三个工作日内书面通知乙方并尽力采取措施防止损失扩大，乙方应尽快调查处理并在合理可行的范围内采取补救措施，对于因银行/电子账户系统错误而造成的甲方直接财产损失，乙方应按适用的规则予以赔偿，但对于任何间接损失、履行利益、后果性损害、非财产损害、乙方于错误发生时不可预见的损失以及因甲方未能及时通知或及时采取措施而导致扩大的损失，乙方不承担责任。</li>
			</ol>
		<div class="title-sm">第八条 公告与变更</div>
			<ol>
				<li>8.1甲方同意，乙方可对本协议及电子账户使用规则进行单方变更，以乙方官方网站的公告为准。如客户在银行公告之日后继续使用电子账户，视为客户已接受上述变更，相关条款根据该等变更而自动作相应修改，双方无须另行签订书面协议。
				</li>
				<li>8.2 乙方通过互联网发布电子账户服务相应通知内容的，自发布之日起视为送达；涉及本协议修改的，自发布之日起本协议自动修改。甲方应及时认真阅读并严格遵守，因甲方使用不当所造成的损失由其自行承担。
				</li>
			</ol>
		<div class="title-sm">第九条 其他</div>
			<ol>
				<li>8.3 乙方通过指定客户服务号码向甲方提供电话银行服务和短信服务，通过直销银行、乙方的电子银行（包括但不限于乙方官方网站、手机银行、微信银行）或合作第三方提供电子账户申请，可通过银行指定渠道提供电子账户的进度查询和电子账户服务，因甲方相信欺诈电话、短信或虚假网站而将电子账户信息泄露造成的全部损失由甲方自行承担。
				</li>
				<li>8.4 本协议适用中华人民共和国法律、行政法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例。在本协议项下发生的相关争议，双方应友好协商解决，协商不成的，应由乙方所在地的人民法院管辖。
				</li>
				<li>8.5未尽事宜，依据中华人民共和国法律、法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例的规则办理。
				</li>
				<li>8.6 本协议自甲方申请时点击确认起生效，至甲方电子账户撤销后终止。</li>
			</ol>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
