<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>九泰基金</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
	    <link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement">
		<h1 class="title">借记卡快捷支付服务协议</h1>
		<p class="bolder">
			借记卡快捷支付服务协议（以下简称“本协议”）是鹰皇金佰仕网络技术有限公司（以下简称“金佰仕”）与金佰仕用户
			(以下简称“用户”或“您”)就金佰仕借记卡快捷支付服务（以下简称“本服务”）的使用等相关事项所订立的有效合约。
			用户通过页面点击确认或以其他方式选择接受本协议，即表示用户与金佰仕已达成协议并同意接受本协议的全部约定内容。
		</p>
		<p class="bolder">
			您知晓借贷宝APP（由人人行科技股份有限公司运营）使用的借记卡快捷支付服务由金佰仕提供。
		</p>
		<p>同时您的点击确认行为即表示您授权借记卡发卡行根据金佰仕的指令划扣您相应借记卡账户中的相应款项。您理解并同意发卡
			行仅是依据金佰仕的指令进行款项的划扣，除非发卡行执行指令错误，否则因此导致的所有纠纷均由您与金佰仕之间协商解决，
			概与发卡行无关。</p>
		<p>在接受本协议之前，请您仔细阅读本协议的全部内容。如果您不同意本协议的任意内容，或者无法准确理解金佰仕对条款的
			解释，请不要进行后续操作。</p>
		<p class="bolder">您应确保您在使用本服务时的借记卡为您本人的银行卡，确保您使用借记卡的行为合法、有效，未侵犯
			任何第三方合法权益；否则因此造成金佰仕、持卡人损失的，您应负责赔偿并承担全部法律责任，包括但不限于冻结您的
			金佰仕账户及资金、从您的金佰仕账户扣除相应的款项等。</p>
		<p> 您应妥善保管借记卡、卡号、密码以及金佰仕账号、密码、数字证书等与借记卡或与金佰仕账户有关的一切信息。如您
			遗失借记卡、泄露金佰仕账户密码或相关信息的，您应及时通知发卡行及/或金佰仕，以减少可能发生的损失。
			<span class="bolder">因泄露密码、数字证书、丢失借记卡或支付盾等所致损失需由您自行承担。</span></p>
		<p class="bolder">您不应将本服务用于任何非法的或违反本协议的目的。</p>
		<p>您如使用本服务进行支付的，应当在认真确认金额后输入密码进行支付。
			<span class="bolder">您认可和同意：输入密码即视为您确认交易和交易金额并已不可撤销地向金佰仕发出指令，
				金佰仕有权根据您的指令委托银行或第三方从借记卡中划扣资金给收款人。届时您不应以非本人意愿交易或其他
				任何原因要求金佰仕退款或承担其他责任。</span></p>
		<p class="bolder">您在对使用本服务过程中发出指令的真实性及有效性承担全部责任；您承诺，金佰仕依照您的指令进行操作
			的一切风险由您承担。</p>
		<p class="bolder">您认可金佰仕账户的使用记录数据、交易金额数据等均以金佰仕系统平台记录的数据为准。</p>
		<p class="bolder">同时您授权金佰仕有权留存您在金佰仕网站填写的相应信息，以供后续向您持续性地提供相应服务
			（包括但不限于将本信息用于向您推广、提供其他更加优质的产品或服务。</p>
		<p class="bolder">您同意并授权金佰仕依据其自身判断对涉嫌欺诈或被他人控制并用于欺诈目的的金佰仕账户采取相应的措施，
			上述措施包括但不限于冻结账户及资金、处置涉嫌欺诈的资金等。</p>
		<p><span class="bolder">出现下列情况之一的，金佰仕有权立即终止您使用金佰仕相关服务而无需承担任何责任：</span>
		<ol>
			<li>(1) 违反本协议的约定。</li>
			<li>(2) 违反金佰仕/或其他关联公司网站的条款、协议、规则、通告等相关规定，而被上述任一网站终止提供服务的。</li>
			<li>(3) 金佰仕认为向您提供本服务存在风险的。</li>
			<li>(4) 您的借记卡有效期届满（如有）。</li>
		</ol>
		<p> 在不违反《金佰仕服务协议》及本协议约定的前提下，您可以就使用本服务时因不能归责于您的原因造成的借记卡内资金损失申请金佰仕的补偿。
			<span class="bolder">您同意，您能否得到补偿及具体金额取决于金佰仕自身独立的判断。您同意并认可金佰仕最终的
				补偿行为并不代表前述资金损失应归责于金佰仕，亦不代表金佰仕须为此承担其他任何责任。您同意，金佰仕在向您
				支付补偿的同时，即刻取得您可能或确实存在的就前述资金损失而产生的对第三方的所有债权及其他权利，包括但不限于
				就上述债权向第三方追偿的权利，且您不再就上述已经让渡给金佰仕的债权向该第三方主张任何权利，亦不再就资金
				损失向金佰仕主张任何权利。此外，在接受补偿的同时或之后，您从其它渠道挽回了前述资金损失的，或有新证据
				证明您涉嫌欺诈的，或者发生您应当自行承担责任的其他情形，您应在第一时间返还金佰仕向您支付的补偿款项，
				否则金佰仕有权采取包括但不限于从您金佰仕账户划扣等方式向您进行追偿。</span></p>
		<p class="bolder">您同意，本协议适用中华人民共和国大陆地区法律。因金佰仕与您就本协议的签订、履行或解释发生争议
			，双方应努力友好协商解决。如协商不成，以湖南省长沙市开福区人民法院为第一审管辖法院。</p>
		<p>本协议内容包括协议正文及所有金佰仕已经发布的或将来可能发布的金佰仕服务的使用规则。所有规则为本协议不可分割的一部分，
			与协议正文具有相同法律效力。
			<span class="bolder">若您在本协议内容发生修订后，继续使用本服务的，则视为您同意最新修订的协议内容；
				否则您须立即停止使用本服务。</span></p>
		<p>本协议未尽事宜，您需遵守金佰仕网站上公布的《金佰仕服务协议》及相关规则。</p>

	<div class="footer">
		鹰皇金佰仕网络技术有限公司
	</div>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
