<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>余额生息</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
	    <link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement">
		<h1 class="title">余额生息服务协议</h1>
		<p>
			余额生息服务协议（以下简称“本协议”）是鹰皇金佰仕网络技术有限公司（以下简称“本公司”或“金佰仕”）
			与金佰仕用户（以下简称“您”或“投资者”）就余额生息服务相关事项所订立的有效合约。
			<span class="emphasize">
				投资者通过网络页面点击确认或以其他方式选择接受本协议，即表示投资者与本公司已达成协议并同意接受本协议的
				全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件
				有关的各项规定。
			</span>
		</p>
		<p>
			金佰仕公司在此特别提醒您认真阅读和充分理解本协议各条款，
			<span class="bolder">
				特别是其中所涉及的免除或限制金佰仕公司责任、限制用户权利、争议解决和法律适用等条款。请您审慎阅读并选择
				是否接受本协议（未成年人应在监护人陪同下阅读）。
			</span>
			除非您接受本协议所有条款，否则您无权使用金佰仕公司的余额生息服务。您一经点击确认或以其他方式选择接受本协议，
			即视为对本协议的理解和接受，您同意本协议对金佰仕公司和您具有法律约束力。如果您不同意本协议的任何内容或无法
			准确理解相关条款，请不用进行后续操作。
		</p>
		<div class="title-sm">一、定义</div>
		<p>除本协议另有规定外，下列用语具有如下含义：</p>
		<ol>
			<li>(一) 余额生息服务：指本公司为投资者提供的可以通过本公司系统与合作金融机构（包括但不限于保险公司、银行、
				基金公司、证券公司等，下同）系统相连，通过合作金融机构系统在本公司的网上直销自助前台系统进行相关理财产品
				（包括但不限于保险、基金、股票、债券等，下同）交易资金的划转、支付及在线进行理财产品交易、信息查询等服务。
			</li>
			<li>(二) 身份认证要素：指金佰仕公司在交易中用于识别投资者身份的信息要素，包括但不限于投资者的金佰仕账户及其密码
				、金佰仕理财专户及其密码、数字证书、动态口令、姓名、证件类型、证件号码、签约时留存的手机号码等及法律
				法规或金佰仕公司要求的其他要素。
			</li>
		</ol>
		<div class="title-sm">二、特别提示</div>
		<ol>
			<li>(一) 您知悉并同意，金佰仕公司有权采取各种必要手段对您进行身份验证。同时，金佰仕公司有权据此决定是否同意为
				您提供余额生息服务，以及提供服务的范围、种类、业务操作权限及相关额度限制。为保障您的资金安全，
				金佰仕公司有权根据投资者类别、身份认证措施、交易风险度等因素设定不同的风控措施。
			</li>
			<li  class="bolder">(二) 您知悉并同意，身份认证要素是金佰仕公司识别您身份的唯一依据，您应妥善保管您的身份认证要素，不得将您的身
				份认证要素泄漏给任何第三方或交于任何第三方使用。金佰仕公司将对通过您的上述身份要素所发送的一切指令默认
				为您本人行为，您应自行对上述指令产生的后果负责。同时，您应对非金佰仕公司原因造成的账户、密码等信息被
				冒用、盗用或非法使用所引起的一切风险和损失应自行承担责任。
			</li>
			<li  class="bolder">(三) 为了向您提供余额生息服务，您同意并授权金佰仕公司有权将所持有的您的个人信息包括但不限于姓名、性别、
				国籍、证件类型、证件号码、证件有效期、银行卡号、手机号、职业、工作地址、家庭地址等提供给相关金融机构；
				基于余额生息服务的相关需要，您同意并授权相关金融机构有权将其所持有的您的个人信息包括但不限于您在
				该机构的账户、交易信息、资产状况等提供给金佰仕公司。
			</li>
			<li  class="bolder">(四) 您知悉并同意，您开通余额生息服务时已开通金佰仕账户并已同意签订《金佰仕服务协议》，如相关金融产品基于
				业务的正常开展需同时开通其他账户或功能，您也同意并接受相关服务协议或条款。
			</li>
			<li  class="bolder">(五) 您知悉并同意，您网上提交的资金划转委托以银行系统与本公司系统记录为准；您提交的金融产品交易委托以金融
				机构的系统记录为准。您使用余额生息可查询到您持有金融产品的净额、收益、交易明细等，但该数据仅供参考用，
				所有数据应以金融机构系统数据为准。
			</li>
			<li  class="bolder">(六) 金佰仕公司仅向您提供资金支付服务。您一旦通过余额生息服务成功买入相关金融机构的产品即视为您与金融机构
				缔结相应协议或产品合同。金佰仕公司并非为金融产品销售合同的缔约方，不对金融产品销售合同中做出任何书面或
				口头陈述或承诺，同时也不对金融产品的相关真实性、合法性提供任何明示或暗示的保证或担保，也不对金融机构销售
				相关金融产品对向您承担任何连带责任。本公司亦无义务参与理财产品协议交易资金划转及支付环节之外的任何赔偿、
				纠纷处理等活动。
			</li>
			<li  class="bolder">(七) 您授权在您开通余额生息服务的同时，将余额生息增加为金佰仕为您提供的各类代扣服务的扣款资金渠道之一，可使用余额生息作为代扣资金渠道的具体代扣服务以金佰仕实际向您提供的、您自主选择发起的为准，包括但不限于归还您在金佰仕合作APP借贷宝上的逾期欠款、支付您发起的消费交易等；金佰仕将按照您的指令将您的相应资金份额进行赎回至您的金佰仕支付账户，以完成您发起的支付指令。<br>
				您理解并同意，金佰仕有权根据实际情况在提供具体支付服务时决定余额生息在扣款资金渠道中的顺位，
				具体以页面提示或金佰仕网站的相关规则、解释为准。<br>
				您理解并同意，当您发送支付指令（含虚拟账户转账、银行卡快捷扣款等），且该支付指令对应的扣款渠道为
				余额生息时（简称“余额生息扣款”），即会触发余额生息货币基金份额支付的申请。您理解并同意自您发送
				“余额生息扣款”指令之日起，您将不再承担\享有对应的余额生息货币基金份额的损益。
			</li>
			<li class="bolder">
				（八）您发起使用余额生息作为代扣资金渠道的代扣服务的退款成功时，您授权金佰仕在收到退给您的款项后，按照原路退回原则将您的相应资金份额转入余额生息账户；但您理解并同意，该过程的资金流转及货币基金份额的重新申购均需要一定时间，您相应的资金份额将会产生相应期间的基金收益差。
			</li>
			<li  class="bolder">(九) 您理解并同意，本公司会尽最大努力为您提供资金划转服务，但本公司对资金到账时间不做任何承诺且不承担任何责任。
			</li>
			<li  class="bolder">(十) 您知悉并同意，任何金融产品均存在一定的风险，且您自愿承担该风险。任何金融产品的业务咨询、投诉或纠纷处理
				均由金融机构自行处理或处理，与金佰仕公司无关。
			</li>
		</ol>
		<div class="title-sm">三、服务对象范围</div>
		<ol>
			<li>(一) 余额生息服务仅向符合中华人民共和国年满18周岁、具有完全民事权利能力和民事行为能力且持有金佰仕实名账户的
				大陆居民提供。投资者必须按照注册要求提供本人真实、准确及完整的信息，并负责对本人信息及时更新。
				本公司视所有用户已就上述各项条件与要求作出承诺，保证本人身份的合法性，以及所提供信息的真实性、准确性、
				完整性和非过时性。
			</li>
			<li class="bolder">(二) 若您提供任何不真实、不准确、不完整或过时的身份信息，或者本公司有合理理由怀疑您所提供的信息为不真实、
				不准确、不完整或过时的，本公司有权中止（或终止）向您提供服务，并拒绝您现在或未来使用本服务之各项服务
				之全部或部分功能，对此本公司不承担任何责任。同时，因此所产生的任何直接或间接的支出、损失、费用、处罚
				将由您来承担。若由于您未及时更新您信息，而导致本服务无法提供或本服务的有关流程及操作发生任何错误，
				您不得以此为由取消交易、拒绝支付交易款项和服务手续费或采取其它不当行为，并将独立承担因此产生的
				所有责任和后果。
			</li>
		</ol>
		<div class="title-sm">四、服务功能</div>
		<p>您使用余额生息服务可实现以下功能，具体以您申请开通或使用时金佰仕公司实际提供的为准。金佰仕公司保留适时变更服务
			功能的权利，具体以金佰仕公司发布的公告为准。</p>
		<ol>
			<li>(一) 余额生息转入：您可以通过金佰仕公司系统与金融机构系统的对接，把金佰仕账户的余额或者是金佰仕账户绑定的
				银行卡转入资金，并由金佰仕公司把相关资金结算给相应的金融机构，由该金融机构助您实现对应金融产品的买入操作。
			</li>
			<li>(二) 余额生息转出：您可以通过金佰仕公司系统与金融机构系统的对接，由相应的金融机构把已经买入的金融产品进行
				卖出操作，由金佰仕公司把对应的结算资金划付到您的金佰仕账户或者绑定的银行卡的操作。
			</li>
		</ol>
		<div class="title-sm">五、通知</div>
		<p>关于本协议条款和其他协议、告示或其他有关您使用余额生息服务的通知，本公司将以电子形式或纸张形式通知您，
			包括但不限于依据您向本公司提供的电子邮件地址发送电子邮件的方式、依据投资者提供的联系地址寄送挂号信的方、于本网站或合作伙伴网站上公布、或发送手机短信和电话通知等方式。</p>
		<div class="title-sm">六、服务费用</div>
		<p>关当您使用余额生息服务时，金佰仕公司有权向您收取相关服务费用。同时，金佰仕公司保留制定及调整服务费的权利。
			除非双方另有约定，金佰仕公司目前免费向您提供余额生息服务，直至金佰仕公司在本公司网站上明示公布收费方式。
			<span class="bolder">如收取服务费用，您同意金佰仕公司有权从您交易款项中实时扣除该费用。</span>
		</p>
		<div class="title-sm">七、损失补偿规则</div>
		<p>在完全满足下列情形时，您可以就使用余额生息服务时因资金支付造成的损失（投资损失及金融机构导致的损失除外）
			向金佰仕公司申请补偿：
		</p>
		（1）遵守《金佰仕服务协议》、本协议及金佰仕其他相关规则；
		<br>
		（2）该损失非基于您的故意或重大过失；
		<br>
		（3）未获得或接受任何第三方债务人的赔偿；
		<br>
		（4）操作环境、支付过程中使用金佰仕公司推荐或认可的安全工具；
		<br>
		（5）应金佰仕公司要求提供了相关资料或证明。
		<br>
		<p>发生损失后，您应立即通知金佰仕公司，并采取相关措施防止损失进一步扩大。
			<span class="bolder">接受到您的申请通知后，金佰仕有权基于自身的独立判断对您进行评估并决定是否向您提供补偿。
				金佰仕公司最终向您提供补偿的行为并不代表前述资金损失应归责于金佰仕公司，亦不代表金佰仕公司须为此承担其他
				任何责任。您同意，金佰仕公司在向您提供补偿的同时，即代位取得您向第三方追偿的权利。此外，您同意如您在
				接受金佰仕公司补偿后，从其它渠道挽回了前述资金损失的或有新证据证明您涉嫌欺诈的，或者发生您应当自行承担
				责任的其他情形，您应向金佰仕公司立即返还补偿您的款项，否则，金佰仕公司有权自您金佰仕账户中直接扣除。
				</span>
		</p>
		<div class="title-sm">八、不可抗力及其他免责事由</div>
		<ol>
			<li>(一) 在使用金佰仕公司提供的余额生息服务过程中，可能会遇到不可抗力等风险因素，使余额生息服务发生中断。
				不可抗力是指不能预见、不能克服、不能避免且对一方或双方造成重大影响的客观事件，包括但不限于洪水、
				地震、瘟疫和风暴等自然灾害以及战争、动乱、政府行为等社会事件。出现上述情况时，金佰仕公司将努力
				在第一时间与相关单位配合及时进行修复，但由此给您造成的损失金佰仕公司在法律允许的范围内免责。
			</li>
			<li>(二) 在法律允许的范围内，金佰仕公司对以下情形导致的服务中断或受阻不承担责任：
				<ol>
					<li>受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏。</li>
					<li>1) 用户或金佰仕公司的电脑软件、系统、硬件和通信线路出现故障。</li>
					<li>2) 用户操作不当。</li>
					<li>3) 用户通过非金佰仕公司授权的方式使用余额生息服务。</li>
					<li>4) 银行系统或银行网络出现故障。</li>
					<li>5) 其他金佰仕公司无法控制或合理预见的情形。</li>
				</ol>
			</li>
			<li>(三) 您在使用余额生息服务的过程中，金佰仕公司不对下列风险担责：
				<ol>
					<li>1) 来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息。</li>
					<li>2) 遭受他人误导、欺骗或其他导致任何心理、生理上的伤害以及经济上的损失。</li>
				</ol>
			</li>
			<li>(四) 您在使用余额生息服务过程中，金佰仕公司在法律规定的范围内可处理违法违规内容，但其不构成金佰仕公司的
				义务或承诺。
			</li>
		</ol>
		<div class="title-sm">九、暂停、中断或终止服务</div>
		<ol>
			<li class="bolder">(一) 金佰仕公司有权基于业务调整或风险管控的需要，暂停、中断或终止向您提供余额生息服务。
			</li>
			<li class="bolder">(二) 金佰仕公司在发现您有可疑交易时，有权不经通知暂停、中断或终止向您提供余额生息服务。
			</li>
			<li class="bolder">(三) 金佰仕公司发现您违反本协议约定的，有权暂停、中断或终止向您提供余额生息服务。
			</li>
		</ol>
		<div class="title-sm">十、知识产权保护</div>
		<ol>
			<li>(一) 金佰仕公司在余额生息服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归
				金佰仕公司及其关联公司所有，用户在使用余额生息服务中所产生内容的知识产权归用户或相关权利人所有。
			</li>
			<li>(二) 除另有特别声明外，金佰仕公司提供余额生息服务时所依托软件的著作权、专利权及其他知识产权均归金佰仕公司
				及其关联公司所有。
			</li>
			<li>(三) 金佰仕公司在余额生息服务中所使用的“金佰仕”和“kingpass”等商业标识，其著作权或商标权归金佰仕公司
				及其关联公司所有。
			</li>
			<li>(四) 上述知识产权均受到法律保护，未经金佰仕公司、用户或相关权利人书面许可，任何人不得以任何形式进行使用
				或创造相关衍生作品。
			</li>
		</ol>
		<div class="title-sm">十一、法律适用及争端解决 </div>
		<ol>
			<li class="bolder">(一) 本协议签订地为中华人民共和国湖南省长沙市开福区。
			</li>
			<li class="bolder">(二) 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
			</li>
			<li class="bolder">(三) 您和金佰仕公司因本协议产生任何纠纷或争议的，首先应友好协商解决。协商不成的，您同意将纠纷或争议提交至
				本协议签订地有管辖权的人民法院解决。
			</li>
		</ol>
		<div class="title-sm">十二、其他条款</div>
		<ol>
			<li>(一) 本协议与本网站上其他条款和规则的名词解释、意思理解，可互相引用参照，如有不同理解，应以本协议为准。
				本协议未做规定的，以本公司网站上不时更新的《金佰仕服务协议》为准。
			</li>
			<li>(二) 如果本协议条款中的部分条款被有管辖权的法院认定为违法，则并不影响其他条款的有效性。
			</li>
			<li class="bolder">(三) 本公司保有制定和单方随时修改包括但不限于上述规则的各项规则的权利。所有规则均构成本协议的有效组成部分。
				新制定和经修改的规则将在本网站上进行公布，不做逐一通知。新制定和经修改的规则一旦公布则立即生效，
				且对生效前的投资者同样适用。本协议条款变更后，如果您继续使用金佰仕公司提供的软件或服务，
				即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用金佰仕公司提供的软件或服务。
			</li>
		</ol>
	<div class="footer">
		鹰皇金佰仕网络技术有限公司
	</div>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
