<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>生活缴费</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/sass/agreement/common.scss">
    <!-- endbuild -->
</head>

<body>
<div class="agreement">
    <h1 class="title">自助缴费服务协议</h1>
    <div class="left">尊敬的用户：</div>
    <p>
        您好！本协议是鹰皇金佰仕网络技术有限公司（以下简称“本公司”）与您就您通过借贷宝客户端（由人人行科技股份有限公司
        管理和运营）使用公共事业缴费服务，包括缴水、电、燃气费服务（以下简称“本服务”）等相关事项所订立的有效合约，
        您相关的权利义务将在本协议中进行约定。
    </p>
    <div class="left">友好提示:</div>
    <p>
        <span class="bolder">
            本协议已对与您的权益有或可能具有重大关系的条款，及对本公司具有或可能具有免责或限制责任的条款用粗体字予以标注，请您注意。
        </span>
        您应具有完全的民事行为能力，本公司不为无民事行为能力或限制民事行为能力人提供本服务。在签署本协议前，请您仔细阅读本协议条款。
        <span class="bolder">
            若您通过借贷宝客户端相关页面使用本服务即表示本公司已按您的要求予以说明，并表示您完全理解并接受本协议项下的全部条款。
        </span>
    </p>
    <div class="title-sm">第一条 您的主要权利和义务</div>
    <div class="title-sm2">一、权利</div>
    <ol>
        <li>(一)
            您有权根据借贷宝客户端页面显示的缴费列表选择所需缴费项目，并按照页面指示进行缴费操作。
        </li>
        <li>(二)
            您自愿注册成为借贷宝用户，经本公司及借贷宝同意后，您将有权享受本公司在借贷宝展示的各类公共事业缴费项目服务。
        </li>
        <li>(三)
            您对本公司所提供的公共事业缴费服务如有疑问、建议或意见时，可拨打借贷宝客服电话：400-100-6699进行咨询和投诉。
        </li>
    </ol>
    <div class="title-sm2">二、义务</div>
    <ol>
        <li>(一)
            您自行配备办理公共事业缴费业务所需的手机设备。
        </li>
        <li>(二)
            您自行负担个人上网所支付的与公共事业缴费业务有关的电话费用、网络费用。
        </li>
        <li>(三)
            您办理本公司公共事业缴费业务，需要通过电子方式签署本协议；同时遵守借贷宝实时公示的各项规则、服务政策。
        </li>
        <li>(四)
            您使用本服务应当通过借贷宝客户端登陆。
        </li>
        <li  class="bolder">(五)
            您保证使用本服务过程中使用的银行卡为您本人所有或者已经得到持卡人有效授权，否则因此导致的责任均由您自行承担。
            一旦您点击确认支付，亦不得要求变更或撤销该指令。
        </li>
        <li  class="bolder">(六)
            您在缴费过程中，应确保银行卡或银行账户的真实性、有效性。若因银行卡或银行账户被取消、过期或账户余额不足而造成
            缴费失败所产生的损失及后果，由您负责。
        </li>
        <li>(七)
            您保证使用本服务过程中提供的资料真实、准确、完整、有效。
            <span class="bolder">本公司按照您设置的相关信息为您提供相应服务，
            对于因您提供信息不真实或不完整所造成的损失由您自行承担。
            </span><br>
            您确保正确填写账单信息，并且妥善保管预留信息。您对通过以上信息完成的一切交易负责。除使用本服务外，不要向任何
            其他人，其他网站、电话或短信的问询提供预留的信息内容。如您对账单信息内容有疑问的，请自行联系相关机构单位。
            <span class="bolder">
                一旦您使用本协议约定服务，且通过系统发送相应指令的，无论本协议是否终止，基于该指令所涉及的款项和费用不予退回。
            </span>
        </li>
        <li>(八)
            您理解并同意，您不得以与第三方发生纠纷为由拒绝支付使用本服务的应付款项。
        </li>
        <li>(九)
            您承诺自己在使用本公司提供的服务时，实施的所有行为均遵守国家法律、法规和本公司及借贷宝的相关规定
            （包括但不限于本协议、《借贷宝用户注册协议》及《金佰仕服务协议》）以及各种社会公共利益或公共道德。
            对于违反本条所列规范导致的任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。
        </li>

    </ol>
    <div class="title-sm">第二条 本公司的权利和义务</div>
    <div class="title-sm2">一、权利</div>
    <ol>
        <li>(一)
            本公司有权根据您的资信情况或交易记录，决定是否受理您的公共事业缴费服务申请，并且可以根据注册信息等相关要素
            对您从事交易的权限和身份进行核实。
        </li>
        <li>(二)
            本公司有权根据自身业务的发展，增加、减少或撤销缴费服务项目，调整缴费服务的内容，并且有权对本服务进行升级、改造。
        </li>
        <li class="bolder">(三)
            本公司系统在借贷宝客户端上向您返回的信息为缴费成功，但因对应的服务银行及公共事业单位的系统或操作导致该账单
            最终还是需要支付滞纳金的，您应先行支付该等滞纳金，如您对滞纳金的缴纳或因本条所列明的非本公司原因及非借贷宝
            原因导致的逾期支付等问题有异议的，您应与产生此等争议的对应银行或公共事业单位协商解决。
            <br>
            因您提供的账单逾期或您支付账户资金不足等任何原因导致账单支付不成功的，本公司系统将在借贷宝客户端上向您
            返回失败信息，因此导致您逾期时间增长或任何其他损失的，该损失应由您自行完全承担。
        </li>
        <li>(四)
            您存在不遵守本公司及借贷宝有关业务规定或存在恶意操作、诋毁、损害本公司声誉等情况的，本公司有权单方终止对
            您提供公共事业缴费服务，并保留追究您责任的权利。您利用本公司系统从事违反国家法律法规活动的，本公司将按照有权
            机关的要求停止为您办理业务。
        </li>
        <li>(五)
            本公司有权对您的资料及交易行为进行查阅，在对您资料或交易行为存疑，或认为存在安全隐患可能时，本公司有权要求
            您提供必要的凭证，您应予配合，且不得因此向本公司主张任何权利。
            <span class="bolder">本公司有权基于向您提供更优质服务或其他本公司产品的目的而保留并使用您在使用本服务期
                间填写的所有信息及历史使用记录。
            </span>
        </li>
        <li>(六)
            一旦您使用本服务，且通过本公司系统缴费成功的，不论本协议是否终止，基于本服务所涉及的款项和费用不予退回。
        </li>
        <li>(七)
            本公司因以下情况没有执行您提交的公共事业缴费业务指令，不承担任何责任：
            <ol>
                <li>1. 本公司接收到的指令信息不明、存在乱码、不完整等。</li>
                <li>2. 您的银行账户存款余额或信用额度不足。</li>
                <li>4. 您的银行账户内资金被依法冻结或扣划。</li>
                <li>5. 您未能按照本公司的有关业务规定正确操作。</li>
                <li>6. 您的行为出于欺诈或其他非法目的。</li>
                <li>7. 本公司遇到不可抗力、计算机黑客袭击、系统故障、通讯故障、网络拥堵、供电系统故障、电脑病毒、恶意程序攻击及其它不可归因于本公司的情况时。</li>
            </ol>
        </li>

    </ol>
    <div class="title-sm2">二、义务</div>
    <ol>
        <li>(一)
            本公司有义务在技术上确保网上交易平台的安全、有效、正常运行，保证您顺利使用本协议约定服务，并向您提供交易记录
            、交易资金状态等查询的服务。本公司不承担因通讯、停电故障、黑客攻击、银行问题、公共事业单位出账问题、
            不可抗力等非主观因素所引起交易中断、交易错误引起的责任。
        </li>
        <li>(二)
            本公司对您在办理公共事业缴费业务中提供的相关身份资料及在交易中产生的交易记录负有保密义务，但本公司可以
            在法律法规许可和您授权的范围内使用您的资料和交易记录（包括但不限于有权利根据法律法规规定向有权查询的
            法定机构，或为完成交易指令的需要向第三方提供）。
        </li>
        <li>(三)
            在本公司另行公告声明将对本服务进行收费前，本公司为您提供本协议项下的服务不会向您收取服务费。
        </li>
        <li>(四)
            本公司可根据业务发展对费用进行变更。本公司应向您明示交易费用及其变更，如您不接受相关费用标准及其变更，
            则不应进行交易。一旦您使用本服务，即视为您同意接受包括费用条款在内的所有约定。
        </li>
        <li>(五)
            本公司承诺不会以任何形式挪用您用以缴纳公共事业费的资金。
        </li>
        <li>(六)
            本公司有权拒绝或取消不符合要求的用户的缴费资格，而无需预先通知客户。
        </li>
        <li>(七)
            借贷宝负责向您提供公共事业缴费业务的咨询服务。
        </li>
    </ol>
    <div class="title-sm">第三条 协议修改</div>
    <ol>
        <li>(一)
            本公司将有权随时修改本协议的有关条款，一旦本协议的内容发生变动，本公司将会在借贷宝客户端通过公告方式以本公司
            自身名义公布最新的服务协议，不另作个别通知。
        </li>
        <li>(二)
            如果您不同意本公司对本协议相关条款所做的修改，您应停止使用本协议约定的服务。一旦您继续使用本协议约定服务的，
            视为您理解并接受修改后的协议条款。
        </li>
        <li>(三)
            如遇国家政策调整，本公司有权终止本协议，因该种情况终止本协议的，本公司不承担违约责任。
        </li>
        <li>(四)
            您不遵守本协议或借贷宝客户端相关业务规则或存在其他损害本公司利益的行为时，本公司有权终止本协议。
            如本公司因此遭受损失的，您应承担相应的赔偿责任。
        </li>
    </ol>
    <div class="title-sm">第四条 差错和争议的解决</div>
    <ol>
        <li>(一)
            您发现自身未按规定操作，或由于自身其他原因造成缴费指令未执行、未适当执行、延迟执行的，应及时通过拨打客服电话：
            400-100-6699通知本公司，本公司及借贷宝应积极调查并告知您调查结果。
        </li>
        <li>(二)
            甲乙双方一致确认，借贷宝仅作为本公司向您提供公共事业缴费服务的网络平台，仅依据借贷宝经营者与甲乙双方分别签订
            的服务类协议向甲乙双方分别提供平台服务并承担相应的合同责任，借贷宝不介入甲乙双方为履行本协议而产生的争议纠纷。
        </li>
        <li>(三)
            双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向本公司所在地人民法院提起诉讼。
        </li>
    </ol>

    <div class="title-sm">第五条 协议的中止和终止</div>
    <ol>
        <li>(一)
            如您在本公司平台上的操作存在违法行为或违反本协议的行为，或因您此前使用本服务的行为引发争议的，本公司有权中止
            或终止本协议。协议终止并不意味着终止前所发生的未完成缴费指令的撤销，也不能消除因终止前的缴费交易所带来的任何法律后果。
        </li>
        <li>(二)
            在下列情况下，本公司可以中断对您的服务：
            <ol>   
                <li>1. 不可抗力。</li>
                <li>2. 为维护、检修、升级系统的需要以及相关第三方为维护、检修、升级系统所使用的主机、电力设备、公共网络等相关配套设施需要；</li>
                <li>3. 您存在违反法律法规及本协议内容的行为，经本公司通知后在规定期限内不予更正的；</li>
                <li>4. 司法机关或政府行政机关依照法定程序要求本公司中断对您的服务的；</li>
                <li>5. 为公共利益的需要必须中断对您的服务的；</li>
                <li>6. 其他必须中断服务的情况。</li>
            </ol>
        </li>
        <li>(三)
            您同意，本公司不对因下述任一情况而发生的服务中断或终止而承担任何赔偿责任：
            <ol>
                <li>1. 本公司基于单方判断，认为您已经违反本服务条款的规定，将中断或终止向您提供本公司部分或全部服务功能。</li>
                <li>2. 本公司在发现您提供资料虚假、有异常交易或有疑义或有违法嫌疑时，不经通知有权先行中断或终止服务，并拒绝您使用本公司部分或全部服务功能。</li>
             </ol>
        </li>
    </ol>
    <div class="title-sm">第六条 特别授权</div>
    <p>您同意借贷宝将您在借贷宝的注册信息、交易数据等信息和其他数据同步至本公司支付系统并允许本公司使用。</p>
    <div class="title-sm">第七条 责任承担</div>
    <ol>
        <li>(一)
            本协议任何一方违反本协议规定的内容，给另一方造成损害的，应当承担违约责任，赔偿另一方因此而造成的直接损失。
        </li>
        <li>(二)
            协议一方违反协议规定内容给另一方造成损害的，受损害一方应当采取合理措施避免损失扩大的，因防止损失扩大而支出
            的合理费用，由违约方承担。一方没有采取合理措施避免损失扩大的，对损失扩大部分违约方不承担赔偿责任。
        </li>
        <li>(三)
            本协议约定的其他本公司不承担赔偿责任的情况。
        </li>
    </ol>
    <div class="title-sm">第八条 协议的效力和生效</div>
    <p>本协议的任何条款如因任何原因而被确认无效，都不影响本协议其他条款的效力。本协议自您勾选“已阅读并同意”时起生效。</p>
    <div class="title-sm">第九条 协议的解释</div>
    <ol>
        <li>(一)
            本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文规定的，应适用本公司网站相关协议及
            附属规则和借贷宝客户端实时公示的相关规则及服务政策。
        </li>
        <li>(二)
            本协议任何条款若与银行或其合作伙伴所签署的协议相冲突，以后者的协议为准。
        </li>
    </ol>
    <div class="title-sm">第十条 免责条款</div>
    <p>您向本公司公共事业缴费系统提交的账单为逾期账单，导致其缴费的结果为缴费失败。由此产生的违约金或赔偿金，由您自行承担。
        若您对此存在疑义，可与各公共事业单位进行协商，本公司将积极予以协助。</p>
</div>
<!-- build:js [jsBuildPath] -->
<!-- endbuild -->
</body>
</html>
