<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>余额生息</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
		<link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement">
		<h1 class="title">九泰基金管理有限公司电子交易直销前置式自助前台服务协议</h1>
		<div class="margin20"><span class="title-normal">甲方：</span>投资者</div>
		<div class="margin20"><span class="title-normal">乙方：</span>九泰基金管理有限公司（以下简称乙方或“九泰基金”或“本公司”）</div>
		<p>甲、乙双方依据法律法规的规定，本着公开、公平、自愿和诚实信用的原则，就甲方使用乙方所提供的电子交易直销前置式
			自助前台服务开立基金直销账户、进行九泰日添金货币市场基金基金份额的转入、转出等相关事项达成本九泰基金管理有
			限公司电子交易直销前置式自助前台服务协议：
		</p>
		<div class="title-sm">第一条 特别提示</div>
		<ol>
			<li>(一)本协议是九泰基金与鹰皇金佰仕网络技术有限公司（以下简称“金佰仕”）实名认证的用户(以下简称“您”或
				“投资者”)就您于本公司电子交易直销前置式自助前台系统进行相关操作的有关事项所订立的有效合同。投资者通过
				点击确认或以其他方式选择接受本协议，即表示投资者与九泰基金已达成协议并同意接受本协议的全部约定内容以及
				与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。
			</li>
			<li>(二) 为了给您提供余额生息服务，九泰基金为您定制了九泰日添金货币市场基金（以下简称“九泰日添金货币基金”），
				与金佰仕 “余额生息”服务对接。
			</li>
			<li>(三) 您通过电子交易直销前置式前台所进行的交易是自助式前台交易的一种形式，由此产生的权利与义务适用本协议；
				因您作为基金份额持有人持有九泰日添金货币市场基金的权利、义务应适用《基金合同》、《招募说明书》
				等基金交易基本文件的相应规定。
			</li>
			<li>(四) 鉴于您自愿接受金佰仕“余额生息”服务，并自愿通过九泰基金电子交易直销前置式自助前台系统进行基金开户、
				账户查询、发起九泰日添金货币基金的交易申请等操作，您与九泰基金根据国家有关法律、法规及相应规定达成如
				下协议。在接受本协议之前，请您仔细阅读本协议的全部内容。如果您不同意本协议的任何内容，或者无法准确理解本
				公司对条款的解释，请不要进行后续操作。
			</li>
		</ol>
		<div class="title-sm">第二条 释义</div>
		<ol>
			<li>(一)电子交易直销前置式自助前台：是指九泰基金在金佰仕授权合作的商户内置的电子交易直销前置式自助前台系统，
				以下简称“电子交易前置”。电子交易前置的业务内容目前包括基金开户、账户登记，九泰日添金货币基金的转入、
				转出、交易申请查询、基金行情查询、份额余额查询等，其他业务开通以本公司公告为准。
			</li>
			<li>(二) 投资者：是指接受金佰仕“余额生息”服务并且开立完成九泰基金的基金账户的金佰仕公司实名认证用户。
			</li>
			<li>(三) 基金账户：是指基金注册登记机构给投资者开立的用于记录投资者持有的由该注册登记机构登记注册的开放式基金份
				额变动及结余情况的账户。本基金账户的注册登记机构为九泰基金。
			</li>
			<li>(四) 金佰仕账户：是指金佰仕为投资者开立的供您使用金佰仕服务的账户。
	    	</li>
			<li>(五) 转入：是指基金合同生效后，投资者向九泰基金提出申请买入基金份额的行为。
			</li>
			<li>(六) 转出：是指投资者通过电子交易前置提交货币基金快速赎回申请，其所申请赎回货币基金份额对应的资金款项快速到
				达投资者金佰仕基金备付金账户的业务。
			</li>
			<li>(七) 投资者金佰仕基金备付金账户：指投资者在金佰仕公司开立的，仅用于在金佰仕基金支付结算平台上进行基金业务支
				付结算的账户。
			</li>
			<li>(八) 身份认证要素：指在交易中金佰仕公司及本公司用于识别投资者身份的信息要素，包括但不限于投资者的金佰仕账户
				、密码、数字证书、动态口令、姓名、证件类型、证件号码、签约时设置的手机号码及金佰仕公司和本公司认可
				的其他要素。
			</li>
			<li>(九) T 日是指九泰基金受理投资者转入、转出或其他业务的申请开放日（下文简称开放日）。
			</li>
			<li>(十) T ＋ n 日是指自 T 日起第 n 个开放日（不包含 T 日）。
			</li>
			<li>(十一) 工作日是指上海证券交易所和深圳证券交易所的正常交易日。
			</li>
			<li>(十二) 开放日是指九泰基金为投资者办理基金转入、转出等业务的工作日。
			</li>
			<li>(十三) D日是指自然日。
			</li>
			<li>(十四) 《基金合同》是指九泰日添金货币市场基金基金合同及其任何之修订或补充。
			</li>
			<li>(十五)《招募说明书》是指九泰日添金货币市场基金招募说明书及其更新。
			</li>
		</ol>
		<div class="title-sm">第三条 基金账户的开立</div>
		<ol>
			<li>(一) 凡持有18位身份证号的居民身份证、满足证券投资基金合法投资者要求的金佰仕公司实名认证用户可以通过电子交
				易前置申请开立基金账户。凡是通过电子交易前置进行开户操作的金佰仕公司实名认证用户，需同时接受
				《余额生息理财服务协议》。 金佰仕公司实名认证用户完成基金账户的开立，成为九泰基金投资者。
			</li>
			<li>(二) 金佰仕公司实名认证用户首次通过电子交易前置开立基金账户的，其基金账户开户申请将实时提交，确认成功后，
				投资者将获得基金账户。投资者的基金账户开立成功与否以九泰基金确认结果为准。
			</li>
		</ol>
		<div class="title-sm">第四条 安全验证机制</div>
		<ol>
			<li>(一) 投资者使用金佰仕账户并通过电子交易前置发出的指令，将被合理确信为是投资者本人直接向九泰基金发出的指令，
				因此，投资者应妥善保管身份认证要素。
			</li>
			<li>(二) 投资者在发起货币基金转出等类型的交易申请时，需要根据提示输入身份认证要素等信息及进行其他身份验证操作，
				九泰基金直销后台系统根据验证结果处理投资者的交易申请。九泰基金及金佰仕公司有权调整和追加身份验证的
				项目和方式，投资者同意配合九泰基金的要求，在九泰基金要求时，补充提供身份信息及/或身份证明文件。
			</li>
			<li>(三) 由于投资者自身的原因导致身份认证要素泄露而引起的风险及损失由投资者自行承担。
			</li>
		</ol>
		<div class="title-sm">第五条 转入申请</div>
		<ol>
			<li>(一) 投资者可通过电子交易前置提出九泰日添金货币基金的转入申请。电子交易前置转入单笔最高金额和每日最高金额
				以九泰基金业务规则的相关规定为准。
			</li>
			<li>(二) 投资者当日转入申请与资金支付的受理截止时间为T日14:59:59，如投资者在T日14:59:59后进行转入资金支付，
				则申请将按下一个开放日的申请处理。投资者委托申请的时间以九泰基金系统自动记载时间为准。
			</li>
		</ol>
		<div class="title-sm">第六条 转出申请</div>
		<ol>
			<li>(一) 投资者可通过电子交易前置提出九泰日添金货币基金的转出申请。投资者知晓并同意，投资者D日向九泰基金提交九
				泰日添金货币基金转出申请时，若申请符合业务规则的相关规定，则九泰基金受理投资者申请，金佰仕负责投资者
				转出资金的垫付，同时转出的份额将过户给金佰仕并进行转出处理。从投资者提交转出申请之日（自然日，含当日）
				起，转出的份额对应的收益归金佰仕所有，用于补偿金佰仕因垫付资金而产生的相关费用。
			</li>
			<li>(二) 因投资者的原因，包括但不限于有权机关要求冻结、扣划货币基金份额等情形，导致用于转出的份额申请不能及时
				被确认，过户给金佰仕的份额赎回款不能到账，或由于其他原因导致过户份额赎回款不能及时到账等情况，投资者
				应承担向金佰仕偿还过户份额对应款项及相应损失的责任。
			</li>
			<li>(三) 如因金佰仕公司或者对应银行系统故障、系统升级，或投资者金佰仕账户状态不正常（包括但不限于被挂失、冻结）
				，或九泰基金合作的划款银行或者支付机构暂停服务，或自然灾害等不可抗力事件，或其他不可预见的非常情况，
				或网络、通讯故障等非九泰基金原因导致过户份额对应的款项无法按期向投资者划付的，九泰基金不承担任何责任。
			</li>
			<li>(四) 九泰基金应根据业务公告规定的开放时间提供转出业务服务，金佰仕公司与九泰基金可根据业务发展需要，
				相应调整上述开放时间。
			</li>
			<li>(五) 九泰基金和金佰仕可根据业务情况调整九泰日添金货币基金转出业务中设定的每个投资者单笔、单日及单月限额等。
				九泰基金和金佰仕可对所有投资者的转出总额设定限额，如当日转出总额超过九泰基金和金佰仕设定的限额，
				可临时暂停转出业务，并视情况及时恢复该业务。
			</li>
			<li>(六) 除本协议另有约定外，此服务暂不另行收取服务费，九泰基金可根据业务情况决定收取服务费并调整服务费标准。
			</li>
		</ol>
		<div class="title-sm">第七条 变更分红方式</div>
			<p>投资者不能通过九泰基金电子交易前置变更九泰日添金货币基金的分红方式。九泰日添金货币基金的分红方式必须为红利再投。
			</p>
		<div class="title-sm">第八条 申请撤销</div>
		<p>九泰基金电子交易前置不提供转入申请撤销、转出申请撤销服务。
		</p>
		<div class="title-sm">第九条 账户查询</div>
		<p>为更好为投资者提供服务，投资者知晓并同意，九泰基金通过电子交易前置为投资者提供本人的基金投资信息查询服务。
		</p>
		<div class="title-sm">第十条 风险测评</div>
		<p>投资者知晓并同意，由于货币基金相比股票型、债券型和混合型基金，属于基金中的低风险品种，投资者具备投资低风险基金品种的风险承受能力，因此通过电子交易前置进行九泰日添金货币基金的相关交易时，默认投资者的风险偏好为保守型。
		</p>
		<p>九泰日添金货币基金不同于银行储蓄与债券，基金投资者有可能获得收益，也有可能损失本金。基金管理人依照恪尽职守、诚实信用、谨慎勤勉的原则管理和运用基金资产，但不保证基金一定盈利，也不保证最低收益。
		</p>
		<div class="title-sm">第十一条 风险</div>
		<ol>
			<li>(一) 为确保网络传输的安全，保障投资者的利益，九泰基金对网络资料的传输采用数据加密处理，但九泰基金无法保证
				网上信息传输绝对安全、毫无错误或指定网址不被恶意攻击或不存在因电子病毒所导致的故障等等。如发生前述情形，
				九泰基金不承担任何责任，投资者须自行承担因电子交易可能导致的任何风险及损失。
			</li>
			<li>(二) 电子交易前置的查询功能有可能因数据传输、更新等原因发生延误，投资者须以九泰基金记载数据为准。
			</li>
			<li>(三) 九泰基金有权保留投资者电子交易的相关电子数据以作为投资者交易的证明。
			</li>
			<li>(四) 任何通过安全验证后提交的申请都将视为投资者本人的真实意思表示或投资者合法授权的行为，该等行为所引起的
				法律后果由该投资者自行承担。
			</li>
			<li>(五) 由于提供资金结算途径的银行或第三方支付机构的系统或者人为原因，导致资金到账迟滞等问题，九泰基金将协调
				尽快解决，但不承担赔偿责任。
			</li>
			<li>(六) 若您提供任何不真实、不准确、不完整或过时的身份信息或证明文件，以至影响九泰基金履行反洗钱等法定义务的，
				九泰基金有权中止或终止向您提供服务，并拒绝您现在或未来使用电子交易前置的全部或部分功能，对此九泰基金不承担任何责任。
			</li>
		</ol>
		<div class="title-sm">第十二条 协议的生效及变更</div>
		<ol>
			<li>(一) 本协议从甲方签署协议时生效,甲方通过网络页面点击确认或以其他方式选择接受本协议视同签署。
			</li>
			<li>(二) 在不损害投资者利益的前提下，九泰基金保留修改或增补本协议内容的权利。本协议的修改文本将公告于九泰基金
				的网站及/或营业场所或以其他九泰基金认为可行的方式通知。投资者在修改通知公布之日起十日内未向九泰基金
				提出书面异议，视同已经得到投资者的认可，但九泰基金增加服务内容除外。
			</li>
			<li>(三) 本协议签署后，若有关法律法规和《基金合同》、《招募说明书》或其他九泰基金和投资者应共同遵守的文件发生修订
				，本协议与之不相适应的内容及条款自行失效，但本协议其他内容和条款继续有效。
			</li>
			<li>(四) 本协议没有约定的，适用《九泰基金管理有限公司电子交易服务协议》的约定。
			</li>
		</ol>
		<div class="title-sm">第十三条 争议的解决</div>
		<p>本协议履行过程中发生争议的，应由当事人协商解决。如果当事人不愿协商解决或协商不成的，任何一方均有权将争议提交
			北京仲裁委员会，依据该会届时有效的仲裁规则进行仲裁。仲裁裁决是终局性的，对双方均有约束力。
			仲裁期间，本协议不涉及争议的条款应继续履行。
		</p>
		<div class="title-sm">第十四条 其他</div>
		<p>在法律法规允许的范围内，乙方对本协议享有修改权和最终解释权。
		</p>

	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
