<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>信用卡还款服务协议</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
	    <link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement">
		<h1 class="title">信用卡还款服务协议</h1>
		<p class="bolder">
			鹰皇金佰仕网络技术有限公司（以下简称“金佰仕”）依据本协议为用户（以下简称“您”）在借贷宝APP（由人人行科技
			有限公司运营）提供信用卡还款服务。本协议对您和金佰仕均具有法律约束力。
		</p>
		<p class="bolder">
			在使用信用卡还款服务前，您应当阅读并遵守本协议及《金佰仕服务协议》（以下简称“《服务协议》”）。金佰仕在此
			特别提醒您认真阅读并充分理解本协议和《服务协议》各条款，特别是免除或限制金佰仕的责任、限制您的权利、规定争议
			解决方式的相关条款。请您审慎阅读并选择是否接受本协议和《服务协议》（未成年人应在监护人陪同下阅读）。
			除非您接受本协议和《服务协议》的所有条款，否则您无权使用信用卡还款服务。您一经开通或使用信用卡还款服务，
			即视为您已理解并接受本协议和《服务协议》。
		</p>
		<div class="title-sm">一、信用卡还款服务</div>
		<p>信用卡还款服务，指金佰仕根据您的交易指令，从您指定的借记卡账户中扣划相应金额至您指定的信用卡账户，
			用于偿还该信用卡欠款。（下称“本服务”）</p>
		<div class="title-sm">二、您的权利和义务</div>
		<p>1. 您自愿申请使用本服务。</p>
		<p>2. 您对本服务如有疑问、建议或意见，可拨打客服电话进行咨询和投诉。</p>
		<p>3. 您使用本服务时，须同时遵守您与拟还款的信用卡发卡银行的相关协议和业务规则。</p>
		<p>4. 您使用本服务时，如涉及到金佰仕其他业务规定或规则的，您须同时遵守。</p>
		<p>5. 您应通过借贷宝客户端或金佰仕特别告知的其他方式办理信用卡还款业务，如您通过本协议约定之外的其他方式办理信用
			卡还款业务而造成的损失，金佰仕不负责任。</p>
		<p class="bolder">6. 您应对您使用本服务的行为负责，您在信用卡还款页面点击确认还款完成支付后，即表示您不可撤销
			地授权金佰仕按照您的指令完成信用卡还款。您理解并同意，金佰仕只是您信用卡还款指令的执行者，除非金佰仕没有依照
			您的指令进行操作，或操作指令错误，否则金佰仕不对您使用本服务产生的损失负责，该等损失由您自行承担。</p>
		<p class="bolder">7. 您应对您使用本服务过程中填写的信息（包括但不限于信用卡号、持卡人姓名、还款金额等）的真实性
			、完整性、准确性、有效性负责。如您利用光学扫描识别、语音识别等便利技术的识别功能提供前述信息的，您应尽等同于
			自行填写方式下的审慎核实义务。无论该等识别功能是由金佰仕提供或是第三人提供，您均不应降低审慎核实程度。
			因您未尽前述义务而导致资金损失的，由您自行承担。</p>
		<p class="bolder">8. 您必须妥善保管本人信用卡卡片相关信息和在金佰仕处预留的信息，除在金佰仕办理业务时使用外，
			不得向任何其他人、其他网站提供上述信息内容。</p>
		<p class="bolder">9. 您理解并同意，您通过本服务查询到的账单信息，如无特别说明，仅为人民币账单信息，不包含
			外币账单信息；如您通过本服务查询到外币账单的，该外币账单仅供参考，如需查询准确的信用卡外币账单信息的，
			您可联系发卡银行进行查询。</p>
		<p>10. 您承诺在使用本服务时遵守国家法律、法规和金佰仕的相关规定，且不得违背社会公共利益和公共道德。若您从事非
			法活动或不正当交易等所产生的一切责任，由您独立承担。</p>
		<div class="title-sm">三、金佰仕的权利、义务</div>
		<p>1. 金佰仕有权自行判断是否受理您的信用卡还款业务，如您的注册资料或其他信息不符合金佰仕的要求，金佰仕有权拒绝
			向您提供本服务，且无须提前通知您</p>
		<p class="bolder">2. 金佰仕提供的信用卡还款服务仅支持人民币还款，不支持外币还款。如您通过金佰仕渠道以人民币
			方式偿还信用卡外币账单的，您须按照发卡银行的要求进行相应操作后方可最终完成还款。</p>
		<p class="bolder">3. 金佰仕有权根据自身业务发展增加、减少支持信用卡还款的银行类型，调整本服务的内容；
			金佰仕有权对信用卡还款功能进行升级、改造等。</p>
		<p class="bolder">4. 在下述任一情况下，金佰仕有权中止或终止向您提供本服务而不承担任何赔偿责任：
		<ol>
			<li>(1) 您利用金佰仕的支付服务从事非法交易或不正当活动的；</li>
			<li>(2) 金佰仕基于单方判断，认为您已经违反本协议相关约定的；</li>
			<li>(3) 金佰仕发现您的注册资料或交易行为存在虚假、异常或可能违反相关法律法规规定的；</li>
			<li>(4) 您的金佰仕支付服务被暂停、注销的。</li>
		</ol>
		<p class="bolder">5. 金佰仕有义务在技术上确保本服务的安全、有效、正常运行，保证您的正常使用，但金佰仕不承
			担因通讯、停电故障、黑客攻击、银行问题、不可抗力等非金佰仕原因所引起服务中断、服务错误等责任。</p>
		<p class="bolder">6. 金佰仕有权基于向您更好地提供本服务或提供其他金佰仕服务之目的，保留并使用您在使用本服务中
			填写的资料以及您使用本服务的相关记录。</p>
		<p class="bolder">7.金佰仕对您在注册和使用本服务过程中提供的相关身份资料及还款信息负有保密义务，但有权根据法律
			法规规定，或您的授权，或为完成交易指令的需要，向有权机构或第三方提供前述资料和信息。</p>
		<p class="bolder">8. 金佰仕有权向您收取合理的交易服务费，并可根据业务发展需要对服务费进行调整。金佰仕应向您
			明示交易服务费用标准（含调整后的标准）。如您不接受相关费用标准，则不应继续使用本服务。若您继续使用本服务，
			则视为接受金佰仕的相关费用标准。</p>
		<p class="bolder">9. 无论本协议因任何原因终止、中止的，金佰仕均不退回您基于使用本服务而支付给金佰仕的服务费用，
			但信用卡还款页面另有约定的除外。</p>
		<div class="title-sm">四、协议修改</div>
		<p>4.1金佰仕有权随时修改本协议的有关条款，一旦相关内容发生变动，金佰仕公司将会通过网站公告等方式通知您。</p>
		<p>4.2如果您不同意金佰仕对本协议相关条款所做的修改及相关附属规则，您应立即停止使用金佰仕提供的本项服务。
			如果您继续使用金佰仕提供的服务，则视为您接受并认可本协议相关条款的修改及相关附属规则。</p>
		<div class="title-sm">五、免责</div>
		<p>1. 您自身未按本协议或金佰仕信用卡还款页面的规定操作，或由于自身其他原因造成信用卡还款指令未执行、未适当执行、
			延迟执行的，金佰仕不承担责任，您应及时通过拨打金佰仕客服电话通知金佰仕。金佰仕应积极调查并告知您调查结果。</p>
		<p class="bolder">2. 您在通过金佰仕账户进行信用卡还款时，仍应遵守还款来源银行对其单笔转账最高金额和每日累计转账最高金额的限制。
			因该限制导致的还款失败，金佰仕不承担责任。</p>
		<p>3. 如您在本服务页面设置了还款提醒，但该提醒仅作为还款时间、还款金额等的参考，而非您是否应该还款及何时还款的依据；
			即使金佰仕未及时向您发送还款提醒，您仍应根据您和信用卡发卡行的约定进行还款。</p>
		<div class="title-sm">六、违约责任</div>
		<p>4. 本协议任何一方违反本协议规定的内容，给另一方造成损害的，应当承担违约责任，赔偿另一方因此而造成的损失，
			包括财产损失、名誉损失等。
		</p>
		<div class="title-sm">七、法律适用及管辖</div>
		<p><span class="bolder">1. 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，</span>没有相关法律规定的，参照通用国际商业惯
			例和（或）行业惯例。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并<span class="bolder">湖南省长沙市开福区人民法院为
			第一审管辖法院。</span></p>
		<p>2. 本协议未约定事宜，均以《金佰仕服务协议》及相关附属规则为补充，本协议与《金佰仕服务协议》及相关附属规则
			不一致的地方，以本协议为准。</p>
	<div class="footer">
		鹰皇金佰仕网络技术有限公司
	</div>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
