<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>余额生息</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />

		<!-- build:css [cssBuildPath] -->
		<link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement" style="padding: 0 3%">
		<div class="title-sm">常见问题</div>
		<div class="title-sm2">什么是余额生息</div>
		<p>
			余额生息是金佰仕推出的一款余额理财产品。您把资金转入余额生息，实际是购买了一款由九泰基金管理有限公司提供的货币基金。货币基金主要用于投资国债、银行存款等安全性高、收益稳定的有价证券，理论上存在亏损的可能，但从历史数据来看收益稳定风险极小。<br/>
			<p>余额生息内的资金不仅可以获得收益，还能随时转出，方便灵活且不收取任何手续费。</p>
		</p>
		<div class="title-sm2">转入</div>
		<p>
			余额生息支持用钱包余额转入和直接从银行卡转入两种方式。单个余额生息账户最高持有金额为450万，即账户金额达到450万时不可继续转入，转出不受影响。单笔转入金额建议大于100元，方便更直观地看到收益（若当日收益不到1分钱，系统可能不会分配收益，且也不会累积）。
		</p>
		<div class="title-sm2">转出</div>
		<p>
			余额生息支持转出到钱包余额和银行卡，转出到钱包余额是实时到账，转出至银行卡请关注页面提示到账时间。最高额度为当前余额生息账户的总金额。
		</p>
		<div class="title-sm2">如何获得收益</div>
		<p>
			从转入资金到获得收益，中间有三个环节：转入资金、确认份额（确认后计算收益）、发放收益。转入余额生息的资金会在第二个交易日由基金公司进行份额确认，对已确认的份额，会在次日12点之前在余额生息账户中显示收益。15点后转入的资金会顺延1个交易日确认，双休日及国家法定假期，基金公司不进行份额确认。
		</p>
		<!-- <div class="title-sm3">1.1.4.1 收益显示</div>
		<p class="bolder">转入收益计算</p>
		<p>从转入资金到获得收益，中间有三个环节：转入资金、确认份额（确认后计算收益）、发放收益。转入余额生息的资金在
			第二个交易日由基金公司进行份额确认，对已确认份额所产生的收益，在次日12点之前在余额生息账户中显示。15点后转入
			的资金会顺延1个交易日确认，双休日及国家法定假期，基金公司不进行份额确认。</p> -->
		<table>
			<tr>
			<th>转入时间</th>
			<th>确认份额</th>
			<th>首次发放<br>收益时间</th>
			</tr>
			<tr>
				<td>周四15：00（含15：00）~周五15：00</td>
				<td>下周一</td>
				<td>下周二</td>
			</tr>
			<tr>
				<td>周五15：00（含15：00）~下周一15：00</td>
				<td>下周二</td>
				<td>下周三</td>
			</tr>
			<tr>
				<td>周一15：00（含15：00）~周二15：00</td>
				<td>周三</td>
				<td>周四</td>
			</tr>
			<tr>
				<td>周二15：00（含15：00）~周三15：00</td>
				<td>周四</td>
				<td>周五</td>
			</tr>
			<tr>
				<td>周三15：00（含15：00）~周四15：00</td>
				<td>周五</td>
				<td>周六</td>
			</tr>
		</table>
		<div>温馨提示：</div>
		<ol>
			<li style="text-indent: 0;margin: 0;">1.以上收益发放时间仅供参考，如遇特殊情况以公告为准；</li>
			<li style="text-indent: 0;margin: 0;">2.已确认份额在周末和节假日同样能享受收益；</li>
			<li style="text-indent: 0;margin: 0;">3.转出资金在转出发生自然日起将不再享受余额生息产生的收益；</li>
			<li style="text-indent: 0;margin: 0;">4.若对余额生息所投基金产品有任何疑问，可联系借贷宝客服进行咨询。</li>
		</ol>

		<!-- <p class="bolder">转出资金的收益</p>
		<p>客户在转出垫资发生自然日起将不再享受余额生息产生的收益。</p>
		<p>温馨提示:</p>
		<ol>
			<li>若对余额生息所投基金产品有任何疑问，可联系借贷宝客服进行咨询。</li>
			<li>建议余额生息转入金额为100元以上，可以有较高概率看到收益。（若当天收益不到1分钱，系统可能不会分配收益，
				且也不会累积）。</li>
		</ol> -->
		<div class="title-sm3">收益计算规则</div>
		<p>余额生息的收益是每日结算且复利计算收益，每日收益会计入已确认金额，用来计算次日收益；</p>
		<p>
			余额生息每日的收益都不同，收益计算公式=（余额生息确认份额/10000）*当天基金公司公布的万分收益；<br/>
			例如：您有10万元转入余额生息，确认份额开始计算收益后，当天公布的万份收益是0.8720，那么您当天的实际收益就是 (10w/1w)*0.8720=8.72元。
		</p>
		<div class="title-sm2">风险如何？</div>
		<p>
			您转入余额生息的资金实际是购买了一款由九泰基金管理有限公司提供的货币基金。货币基金主要用于投资国债、银行存款等安全性高、收益稳定的有价证券，理论上存在亏损的可能，但从历史数据来看收益稳定风险极小。
		</p>
		<p>支付安全由阳光财产保险股份有限公司承保，资深法律团队保障平台有序合规运行。</p>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
