<!DOCTYPE html>
<html>
	<head lang="en">
	</head>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>余额生息</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
		<link rel="stylesheet" href="/sass/agreement/common.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="agreement">
		<h1 class="title">余额生息风险提示函</h1>
		<ol>
			<li>一、货币基金主要投资于银行定期存款和国债等信用级别极高的短期债券（详细投资组成请查看投资组合说明），
				这些投资安全性高，流动性强，收益稳健，出现亏损的可能性较小。但在一些情况下也可能会出现亏损风险，
				例如：投资的债券发生违约，不能偿付，可能产生亏损；多数用户同时赎回时，基金短期内需要大量现金兑付，
				集中抛售债券，可能产生亏损。投资者购买货币市场基金并不等于将资金作为存款存放在银行或存款类金融机构，
				基金管理公司不保证基金一定盈利，也不保证最低收益。我国基金运作时间较短，不能反映市场发展的所有阶段，
				基金过往业绩并不代表其未来表现。
			</li>
			<li>二、您应当认真阅读《基金合同》、《招募说明书》等基金法律文件，了解基金的风险收益特征，并根据自身的投资目的
				、投资期限、投资经验、资产状况等判断基金是否和投资人的风险承受能力相适应。
			</li>
			<li>三、余额生息快速取现是一种增值服务，每天可取现总额有一定上限，如达上限快速取现服务将临时暂停，
				投资者在使用快速取现服务前需充分了解该风险，尽量提前做好资金安排。
			</li>
			<li>四、身份认证要素是本公司识别您的依据，请您必须妥善保管，不得将身份认证要素提供给任何第三方或交于任何第
				三方使用。使用上述身份要素所发出的一切指令均视为您本人所为，您应对此产生的后果负责。对非本公司原因
				造成的账户、密码等信息被冒用、盗用或非法使用，由此引起的一切风险、责任、损失、费用等应由投资者自行承担。
			</li>
			<li>五、您知晓并同意，为向您提供余额生息服务，本公司有权将您提供的真实个人信息（包括但不限于：姓名、性别、
				国籍、证件类型、证件号码、证件有效期、银行卡号、手机号、职业、工作地址、家庭地址）提供给相应的金融机构。
				您同意相关金融机构有权将您的个人信息（包括但不限于您在金融机构的账户、交易信息、资产状况等）提供给本公司。
			</li>
		</ol>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
