body {
    background-color: #f5f7fa;
    .container {
        text-align: center;
        border-bottom: 1px solid #e1e3e5;
        padding-bottom: 15px;
        min-height: 190px;
        background-color: white;
        img {
            height: 90px;
            width: 90px;
            display: none;
            margin-top: 26px;
        }
        p.success,
        p.fail {
            display: none;
            font-size: 21px;
            margin: 0;
            margin-top: 15px;
            padding: 0 20px;
            line-height: 25px;
        }
        p.subTitle {
            margin-top: 2px;
            font-size: 14px;
            color: #999999;
            line-height: 20px;
            margin-top: 8px;
        }
    }
    div.button {
        background-color: #3379e1;
        color: white;
        border-radius: 0;
        height: 45px;
        text-align: center;
        line-height: 45px;
        margin: 0 20px;
        margin-top: 20px;
        font-size: 16px;
        border-radius: 4px;
        display:none;
    }
}