<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>借贷宝悬赏</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/common/loading.scss">
    <link rel="stylesheet" href="/sass/postReward/index.scss">
    <!-- endbuild -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="xuanshang">
</div>
<div class="btn"><button><a class="load">下载借贷宝抢赏金</a></button></div>
<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/js/common/loading.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/microtemplates/index.js"></script>
<script type="text/javascript" src="/js/postReward/postReward.js"></script>
<!-- endbuild -->
</body>
</html>
