<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Loading Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
	<!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
	<link rel="stylesheet" href="/sass/common/loading.scss">
	<!-- endbuild -->
</head>
<body>
	<div class="jdb_loading center_loading">
		<div class="jdb_loading_cover"></div>
		<div class="jdb_loading_content">
			<div class="svg_div">
				<!--<img src="//samherbert.net/svg-loaders/svg-loaders/tail-spin.svg" width="50" alt="">-->
				<!--<img src="../../img/common/tail-spin.svg" width="50"/ alt="">-->
				<!--<embed src="../../img/common/tail-spin.svg" width="80" height="80" type="image/svg+xml"/> --> 
			</div>
		</div>
	</div>
</body>
</html>
