<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>免费电话</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
	<!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
	<link rel="stylesheet" href="/sass/common/toast.scss">
  	<link rel="stylesheet" href="/sass/rechargeFee/flowRecharge.scss">
	<!-- endbuild -->
	<script>
		 var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>

<body>
<!-- Add your site or application content here -->
<div class="container">
    <dl class="user">
        <dt><img data="0" id="head" src="" alt="" /><img class="phoneImg" src="../../img/rechargeFee/phoneImg.png"></dt>
        <dd>
            <p id="phone"></p>
            <p>当前剩余<span id="queryTime"></span>分钟</p>
        </dd>
    </dl>
    <div class="setmeal">
        <span></span> 优惠套餐
    </div>
    <div class="favorable">
        <div id="favorable">
        <div class="Recommend"></div>
           <!--  <dl>
                <dt>
                    <h2 class="time">140 <span>分钟</span></h2>
                    <p class="primeCost"> 原价：<span class="line">28元</span> <span class="save">省18元</span></p>
                </dt>
                <dd>
                    <p class="cost">￥10</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <h2 class="time">300 <span>分钟</span></h2>
                    <p class="primeCost"> 原价：<span class="line">46元</span> <span class="save">省26元</span></p>
                    
                </dt>
                <dd>
                    <p class="cost">￥20</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <h2 class="time">500 <span>分钟</span></h2>
                    <p class="primeCost"> 原价：<span class="line">60元</span> <span class="save">省30元</span></p>
                </dt>
                <dd>
                    <p class="cost">￥30</p>
                </dd>
            </dl> -->
        </div>
        
    </div>
    <div class="prompt">
        <p>温馨提示：</p>
        <ul>

            <li>• 本时长加油包仅用于免费电话，时长使用完后，将暂时无法拨打免费电话，仍然可以接听。</li>
            <li>• 无论对方是否安装借贷宝，都可以通过免费电话呼叫对方。被叫方将不消耗时长。</li>
            <li>• 通话过程无需消耗数据流量。支持拨打国内手机号（港澳台除外）和普通固话（不包括400/10086等服务号）。</li>

            <li>• 购买的时长可跨月、全时段使用，月底不清零。</li>
            <li>• 购买套餐的数量不设上限，但累计时长建议不超过9999分钟。</li>
            <li>• 套餐订购后无法取消，支付成功后即可使用（通话过程中不支持时长购买）。</li>
            <li>• 免费电话时长的累计和消耗对手机普通通话时长不影响。如使用普通通话功能，其资费请咨询手机号所属运营商。</li>
            <li>• 当您不在号码所属地时，拨打免费电话，运营商可能收取漫游接听费用。</li>
            <li>• 若您拨号后，接听到“借贷宝专线”的回拨，则从您接听时起开始计算时长。</li>
            <li>• 西藏、新疆等部分地区可能存在无法接通的情况，无法接通时不消耗通话时长。</li>
            <li>• 免费电话功能最终解释权归借贷宝公司所有。</li>
        </ul>
    </div>
</div>
<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/microtemplates/index.js"></script>
<script type="text/javascript" src="/js/common/utls.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/js/rechargeFee/flowRecharge.js"></script>
<!-- endbuild -->
</body>
</html>
