<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>生活缴费</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
	<!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/rechargeFee/index.scss">
	<!-- endbuild -->
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>

<body>
<!-- Add your site or application content here -->
<div id="chargeNav">
	<!--充值交费-->
	<!-- 水电煤-->
	<section id="chargeFee">
		<ul id="chargeId">
			<li data-type = '1'>水费</li>
			<li data-type = '2'>电费</li>
			<li data-type = '3'>燃气取暖</li>
		</ul>

	</section>
	<section id="chargeSelect">
		<ul id="FeeCheck">
		</ul>
		<p id="addCharge">添加缴费<span></span></p>
	</section>
</div>
<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/microtemplates/index.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/js/rechargeFee/index_zl.js"></script>
<!-- endbuild -->
</body>
</html>
