<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>借贷宝大礼包</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="bower_components/magic-check/css/magic-check.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/common/loading.scss">
    <link rel="stylesheet" href="/sass/bigDraw/index.scss">
    <!-- endbuild -->
</head>
<body>
<div id="bigDraw2" style="display:block;">
    <div class="bd_up" id="bd_banner">
        <div class="bd_info">

        </div>
    </div>
    <div class="bd_down">

        <div class="drawDetail">
            <div class="drawDetail_bg">
                <div class="draw_content">
                    <p class="draw_txt">免费电话时长</p>
                    <p class="draw_num"> 
                    <em>300</em>分钟
                    <span>交易满<br/>10000元可用</span>
                    </p>
                    <p class="draw_tip"><img src="../../img/bigDraw/bg_tip.png" alt=""/>在借贷宝中成功完成一次交易，可获得现金奖励</p>
                </div>
            </div>
            <div class="tip_text" id="tip_text"></div>
            <div class="bd_use">
                <button class="bd_bt "><a class="bd_bt_a" href="http://jdb.jiudingcapital.cn/download.html">马上使用</a></button>
            </div>
        </div>
    </div>
    <!--<div class="share_bg">-->
        <!--<p>看朋友们手气</p>-->
    <!--</div>-->
    <div class="redBag_info">
        <p class="redBag_info_title">
            3个红包，30秒被抢光
        </p>
        <ul class="listMap">
            <li>
                <div class="bd_info_left"><img src="../../img/bigDraw/more_ico.png" alt=""/></div>
                <div class="bd_info_right">
                    <p>华山论剑<span class="b_i_r_c">80元</span></p>
                    <p><em>02-27 </em><em> 8:43</em><span><img src="../../img/bigDraw/good_hand.png" alt=""/><b class="bd_i_good">手气最佳</b></span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="mask">
        <div class="mask_rule">
            <div class="mr_title"><em class="item_ico"><img src="../../img/bigDraw/item_ico.png" alt=""/></em>活动规则</div>
            <div class="mr_mid">
                <ul>
                    <li><em class="tipItem">1</em>活动奖品需在借贷宝v1.8及以上版本中使用。</li>
                    <li><em class="tipItem">2</em>使用奖品的手机号需与领取时的手机号一致，领取后在有效期内可使用。</li>
                    <li><em class="tipItem">3</em>借贷宝对本活动拥有最终解释权。</li>
                    <li><em class="tipItem">4</em>活动中遇到任何问题可拨打客服电话：400-100-6699</li>
                    <li><em class="tipItem">5</em>本活动与苹果公司无关</li>
                </ul></div>
            <div class="queR">确定</div>
        </div>
    </div>
</div>
<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/zepto.js/src/touch.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/Zepto-Cookie/zepto.cookie.min.js"></script>
<script type="text/javascript" src="/blueimp-md5/js/md5.min.js"></script>
<script type="text/javascript" src="/js/common/loading.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/js/common/auth.js"></script>
<script type="text/javascript" src="/microtemplates/index.js"></script>
<script type="text/javascript" src="/js/common/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/bigDraw/second.js"></script>
<!-- endbuild -->
</body>
</html>
