<!DOCTYPE html>
<html class="no-js" lang="">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>认证结果</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
        />
        <meta content="telephone=no" name="format-detection" />
        <!-- build:css [cssBuildPath] -->
        <link rel="stylesheet" href="/css/common/base.css" />
        <link rel="stylesheet" href="/sass/downPages/index.scss" />
        <!-- endbuild -->
        <script>
            var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>
    
    <body>
        <div class="container">
            <img src="../../img/downPages/success.png" class='success'>
            <img src="../../img/downPages/fail.png" class='fail'>
            <p class='success'>您已成功认证脉脉</p>
            <p class='success subTitle'></p>
            <p class='fail'>很遗憾，您未通过认证</p>
            <p class='fail subTitle'></p>
        </div>
        <div  class='button again'>再试一次</div>
        <!-- build:js [jsBuildPath] -->
        <script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
        <script type="text/javascript" src="/microtemplates/index.js"></script>
        <script type="text/javascript" src="/js/common/utls.js"></script>
        <script type="text/javascript" src="/js/downPages/index.js"></script>
        <!-- endbuild -->
    </body>

</html>