#content{
  width: 100%;
  height: 100%;
  background-color:#f5f7fa;
  #userInfo{
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background-color: #f5f7fa;
    ul{
      width: 100%;
      //height: 459px;
      padding-left: 15px;
      background-color: #fff;
      border-bottom: 1px solid #e6e8eb;
      box-sizing: border-box;
      li{
        width: 100%;
        height: 51px;
        background-color: #fff;
        text-align: left;
        line-height: 51px;
        font-size: 14px;
        padding-right: 18px;
        border-bottom: 1px solid #f0f2f5;
        box-sizing: border-box;
        color: #3d434c;
        span {
          float: right;
          color: #afb1b2;
        }

        &:nth-last-child(1){
          border-bottom: none;
        }
      }
      #jiaofei{
        display: block;
        em{
          color: #2a8bf8;
        }
      }
    }
    #goudianp{
      width: 100%;
      height: 54px;
      line-height: 54px;
      margin-top: 18px;
      color: #3d434c;
      font-size: 14px;
      padding-left: 15px;
      border-top: 1px solid #e6e8eb;
      border-bottom: 1px solid #e6e8eb;
      box-sizing: border-box;
      background-color: #fff;
      input{
        padding-left: 19px;
        box-sizing: border-box;
        outline: none;
        border: none;
        font-size:14px;
        color:#c8cbcc;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
          -webkit-appearance: none !important;
          margin: 0;
        }
      }
      .fontColor{
        color:#3d434c;
      }
    }
    #agree{
      padding-left: 15px;
      margin-top: 21px;
      font-size: 12px;
      color:#c2c4c6;
      box-sizing: border-box;
      a{
        text-decoration: none;
        color:#2a8bf8
      }
    }
    #btn{
      width: 100%;
      height: 54px;
      margin: 12px 0 12px 0;
      button{
        display: block;
        width: 91.47%;
        height: 54px;
        line-height: 54px;
        text-align: center;
        margin: 0 auto;
        border-radius: 2px;
        background-color: #d0e2f7;
        font-size: 18px;
        border: none;
        color: #fff;
       &:active{
          background-color: #2277d7;
        }
      }
      .defaultColor{
        background-color: #2a91f8;
      }

    }
  }
  }
.banBtn{
  display: none;
  width: 91.47%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #d0e2f7;
  margin-top: -54px;
}
// 默认的二次唤起才设置显示绑定
#bindDomSe{display: none;}
.clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }
