<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>借贷宝－人脉变钱脉</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/public/chat.scss">
    <!-- endbuild -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div class="wrap">
        <div class="chatBox">
            <img src="../../img/public/chat.png">
        </div>
        
        <div class="btn">
            <a class="callDurationBtn" onclick="_hmt.push(['_trackEvent', '人脉变钱脉－赚取靠谱高利息', '赚取靠谱高利息', '赚取靠谱高利息链接点击'])" href="http://jdb.jiudingcapital.cn/download.html">立即下载，赚取靠谱高利息</a>
        </div>
    </div>
    <!-- build:js [jsBuildPath] -->
    <script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
    <script type="text/javascript" src="/zepto.js/src/touch.js"></script>

    <script type="text/javascript" src="/js/public/chat.js"></script>
<!-- endbuild -->
</body>
</html>
