<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>通知</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
	<!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/share.scss">
    <link rel="stylesheet" href="/sass/public/notice.scss" />
	<!-- endbuild -->
</head>
<body>
    <img src="../../img/public/notice.png" alt="图片获取失败">
    <p id="text">系统升级中</p>
    <p class="title">系统停服原因:</p>
    <ul>
        <li>1.巴拉巴拉巴拉巴拉巴拉巴拉</li>
        <li>2.巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</li>
    </ul>
    <p class="title">系统停服时间:</p>
    <ul>
       <li>2015年1月1日22:00-24:00</li> 
    </ul>
    <!-- build:js [jsBuildPath] -->
    <script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
    <script type="text/javascript" src="/js-url/url.min.js"></script>
    <script type="text/javascript" src="/js/common/share.js"></script>
    <script type="text/javascript" src="/js/public/notice.js"></script>
    <!-- endbuild -->
</body>
</html>
