<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>微信授权demo</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/common/loading.scss">
    <!-- endbuild -->
</head>
<scipt>

</scipt>
<body>
<p style="font-size: 20px;color:#3dcc37; font-family: 'Microsoft Yahei';">第三方引入借贷宝微信授权组件页面</p>
<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/Zepto-Cookie/zepto.cookie.min.js"></script>
<script type="text/javascript" src="/js/common/loading.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/js/common/auth.js"></script>
<!-- endbuild -->
</body>
</html>
