<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>提示</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/public/update.scss">
    <!-- endbuild -->
</head>
<body>
<article>
    <img src="../../img/public/updateImg.png" />
    <h3>请升级版本</h3>
    <div>您当前版本不是最新版本，暂不能使用最新功能，请升级版本后重新尝试。</div>
    <a href="http://jdb.jiudingcapital.com/download.html">立即升级</a>
</article>
</body>
</html>
