<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>借贷宝－人脉变钱脉</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/public/wxShare.scss">
    <!-- endbuild -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="wrap">
        <div class="top">
            <img class="banner" src="../../img/public/banner.png">
            <div class="head"><img id="headImg" src=""></div>
        </div>  
        <div class="main">
            <img class="wenzi" src="../../img/public/tit.png">
            <div class="loan"></div>
            <dl>
                <dt><img src="../../img/public/phone.png"></dt>
                <dd class="wenan">注册时填写我的邀请码即可获得300分钟免费电话时长哦！邀请码：<span id="icode"></span> 长按复制</dd>
            </dl>
        </div>
        <div class="btn">
            <a class="callDurationBtn" onclick="_hmt.push(['_trackEvent', '人脉变钱脉－下载后填邀请码领300分钟通话时长', '下载后填邀请码领300分钟通话时长', '下载后填邀请码领300分钟通话时长链接点击'])" href="http://jdb.jiudingcapital.cn/download.html">下载后填邀请码领300分钟通话时长</a>
            <a class="chatHtml" href="chat.html">借贷宝是什么 <img src="../../img/public/jiantou.png"></a>
        </div>
    </div>
<!-- build:js [jsBuildPath] -->
    <script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
    <script type="text/javascript" src="/js-url/url.min.js"></script>
    <script type="text/javascript" src="/js/common/toast.js"></script>
    <script type="text/javascript" src="/js/public/wxShare.js"></script>
<!-- endbuild -->
</body>
</html>
