<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于借给TA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/introduce/aboutNewUsers.scss" />
    <!-- endbuild -->
</head>
<body>
<!--关于借给他页面-->
<header><img src="../../img/introduce/abm-banner.png"></header>
<article class="wrap lend">
    <ul>
        <li>
            <h3>如何填写借款金额</h3>
            <p>您可以自由选择要借给TA多少钱，最少10元即可出借。借出是匿名的，TA不会知道是您借给TA的，见面不尴尬。</p>
        </li>
        <li>
            <h3>如何计算利息</h3>
            <p>计息期是从借款到账后的次日至还款日，到期一次性还本付息。</p>
        </li>
        <li>
            <h3>如何处理借款逾期</h3>
            <p>借款被逾期时，平台立体催收系统立即启动，借款人还会被计收罚息和逾期管理费。详情请查看<a href="http://app.jiedaibao.com/aboutCredit/">立体催收系统</a></p>
        </li>
    </ul>
</article>
</body>
</html>
