<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于借款</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/introduce/aboutNewUsers.scss" />
    <!-- endbuild -->
</head>
<body>
<!--关于借款页面(标的详情页)-->
<header><img src="../../img/introduce/abm-banner.png"></header>
<article class="wrap loan">
    <ul>
        <li>
            <h3>借款有风险吗</h3>
            <p>好友来自真实社交圈，并已通过身份认证；好友信用与还款能力，您最知根知底；把钱借给自己熟悉的好友，您的投资风险极低，资金更安全。</p>
        </li>
        <li>
            <h3>借钱给好友会不会尴尬</h3>
            <p>平台使用实名借入，匿名出借的单向匿名模式；您是匿名出借的，好友并不知道是您借给TA的；好友见面不尴尬。</p>
        </li>
        <li>
            <h3>什么是赚利差</h3>
            <p>以更低利率向其他借贷宝好友发起借款，系统会自动将您借到的钱转借给借款人，实现零成本赚取利差。</p>
        </li>
        <li>
            <h3>借款金额太高怎么办</h3>
            <p>借给TA时，您可以自由设置出借金额，量力而为；10元即可完成出借；还可用赚利差，让您的其他好友来出借，您获得利差。</p>
        </li>
    </ul>
</article>
</body>
</html>
