<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>免费电话下线说明</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/introduce/aboutFreeCallOffline.scss" />
    <!-- endbuild -->
</head>
<body>
<img class="topImg" src="../../img/introduce/aboutFreeCallOffline.png"/>
<div class="box">
    <p class="greet">各位亲爱的宝友们：</p>
    <p class="hello">你们好！</p>
    <p class="summary">受政策调整影响，平台将于今年年底暂停免费电话相关业务，请还有剩余时长的宝友尽快进行使用。
    </p>
    <p class='lastp'>给您带来的不便深表歉意！</p>
<!--     <p class="summary">以下为相关补偿方案:</p>
    <p class="txt">一、有过充值的用户，平台将以红包形式返还所充值的金额</p>
    <p class="txt">二、用户的剩余时长将以其他福利形式返还至用户借贷宝账户，详情请关注近期活动。</p> -->
    <p class="team">借贷宝免费电话运营团队</p>
    <p class="team">2016年9月6日</p>
</div>
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<!-- <script type="text/javascript" src="/js/introduce/aboutFreeCallOffline.js"></script> -->
</body>
</html>


