<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关于借钱</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/introduce/aboutNewUsers.scss" />
    <!-- endbuild -->
</head>
<body>
    <header><img src="../../img/introduce/abm-banner.png"></header>
    <!--关于借钱页面-->
    <article class="wrap money">
        <ul>
            <li>
                <h3>借钱如何方便快捷</h3>
                <p>您可以自由设置借钱金额、年利率及还款日期，一键发布到平台好友圈；好友觉得您信用好又有利息可赚，就会马上借款给您，而且好友的借出是匿名的，见面不会尴尬。</p>
            </li>
            <li>
                <h3>年利率如何设置</h3>
                <p>合适的年利率会让借款来的更快更容易，急需借款或短期周转，可以使用高利率；其他可以使用一般利率。</p>
            </li>
            <li>
                <h3>利息如何计算</h3>
                <p>计息期是从借款到账后的次日至还款日，如果有多个朋友借钱给您，每个朋友的利息单独计算。</p>
            </li>
            <li>
                <h3>借款如何取出</h3>
                <p>朋友借款成功后，资金直接划入到您的钱包，您可立即从钱包提现到已绑定到银行卡。</p>
            </li>
        </ul>
    </article>

</body>
</html>
