<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>额度调整通知</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/introduce/adjustmentNotice.scss" />
    <!-- endbuild -->
</head>
<body>
<article class="nhead"><img src="../../img/introduce/noticeHead.png"> </article>
<p>为了进一步控制信用风险、保障用户的交易安全，落实银监会2015年12月28日发布的《网络借贷信息中介机构业务活动管理暂行办法（征求意见稿）》的精神，借贷宝自2016年3月1日起对用户的借款额度进行调整。</p>
<p>您的借入和赚利差余额较大，为避免额度调整对您的资金安排产生较大影响，目前您的借款额度暂按旧规则执行，2016年6月1日起再调整为新的额度。</p>
<p> 新规则见<a href="https://tradeapi.jiedaibao.com/mybankv21/cms/interf/invest/detail?id=196">《平台交易额度调整通知》</a>，请参照该规则控制借入和赚利差余额，避免您的资金安排受到影响。</p>
</body>
</html>
