<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>提前还款小贴士</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/introduce/aboutNewUsers.scss" />
    <!-- endbuild -->
</head>
<body>
    <!--提前还款（赚利差方）详情页-->
    <article class="Wrap">
        <ul>
            <li>
                <h3>为什么我会在首页看到自己带“转”字的标的？</h3>
                <p>
                    您某一笔赚利差的出借人正在转让TA持有的对您的债权（这并不会影响在借款到期后您的还款操作，按照正常还款流程操作即可），您在首页看到的就是该转让标的。您可以选择提前还款，可以增加赚利差收益哦！
                </p>
                <p>
                    您发布该笔赚利差借款时指定的好友都可以看到这个转让标的，他们可以选择是否认购。认购完成后您的好友将获得与其所购买金额对应比例的债权，您还款时，您的好友将收到相应比例的本金和利息。
                </p>
                <p>
                    除了首页，您还可以从“钱包-进行中”或“赚利差详情-顶部提前偿还入口”进行提前还款操作。
                </p>
            </li>
            <li>
                <h3>什么是提前还款？提前还款有什么好处？</h3>
                <p>
                    这里的提前还款是指：在借款未到期时，您通过购买好友持有的对您的债权，而提前结清债务的操作。
                </p>
                <p>
                    通过提前还款，您可以增加收益，相当于进行了一次高利率（出借人为了尽快回收资金通常会设定较高的转让利率）、无风险（债务人是自己，不用担心逾期不还）投资。因此，在资金充裕、转让利率合适的情况下，建议您选择提前还款。
                </p>
            </li>
            <li>
                <h3>我也可以进行转让变现吗？如何操作？</h3>
                <p>
                    当然可以！从“钱包-赚利差”中选择您想要转让的标的，在”赚利差信息页”点击“转让变现”按钮，在“转让变现”页中设定转让利率/转让价格即可开始转让变现，借款人和TA发布该借款时指定的好友均能看到该转让标的。
                </p>
                <p>
                    如果您的借款人信誉不错，您设定的转让利率/转让价格合理，就可以坐等收回资金啦 。
                </p>
            </li>
        </ul>
    </article>
</body>
</html>
