<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>实名认证</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
		<link rel="stylesheet" href="/css/common/base.css">
	    <link rel="stylesheet" href="/sass/introduce/identifyInfo.scss">
		<!-- endbuild -->
	</head>

	<body>
	<div class="container">
		<div class="content">
		<div class="title-sm"><div class="icon">1</div>什么是实名认证？为什么要实名认证？</div>
		<p>实名认证是将用户所填的姓名、身份证号信息与公安部存储的个人信息进行比对，完成信息匹配后即通过实名认证。
			目前，借贷宝在用户设置完交易密码后将姓名、身份证号、交易密码一起提交给金佰仕，由金佰仕提交给公安部进行认证。
			为保障用户交易安全，实名认证后，用户还需要进行身份认证（可通过肖像认证或者银行卡认证完成），才可进行交易。</p>
		<p>借贷宝是熟人间借贷平台，用户需要根据好友的身份来判断借出的风险，因此验证好友身份就十分重要。同时，
			在借贷宝上发生的都是真实的借贷行为，为确保用户资金安全，在进行借贷之前需要进行实名认证。</p>
			<div class="parting-line"></div>
		</div>
		<div class="content">
		<div class="title-sm"><div class="icon">2</div>如何进行实名认证？</div>
		<p>注册登录借贷宝后，在个人详情页面，点击“实名认证”或“肖像认证”，通过手动输入或者相机识别的方式填写姓名、身份证号并提交，即可进行实名认证。</p>
			<div class="img-display">
				<div class="thumbnail"><img src="../../img/introduce/info1.png"></div>
				<div class="img-info"><div class="icon-info">1</div>实名认证入口</div>
			</div>
			<div class="img-display">
				<div class="thumbnail"><img src="../../img/introduce/info2.png"></div>
				<div class="img-info"><div class="icon-info">2</div>身份认证说明</div>
			</div>
			<div class="img-display">
				<div class="thumbnail"><img src="../../img/introduce/info3.png"></div>
				<div class="img-info"><div class="icon-info">3</div>进行实名认证</div>
			</div>
			<div class="parting-line"></div>
		</div>
		<div class="content">
		<div class="title-sm"><div class="icon">3</div>实名认证不成功怎么办？</div>
		<p>实名认证不成功通常是以下原因：<br>
			1.您的户籍最近发生过迁移，请到户口所在地派出所办理落户手续；<br>
			2.您是少数民族，身份证姓名中含有标点符号，请在实名认证时输入包括文字和标点符号的姓名，并注意标点应为中文标点。</p>

		</div>
	</div>
	</body>
</html>
