<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>银行卡认证</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
		<link rel="stylesheet" href="/css/common/base.css">
	    <link rel="stylesheet" href="/sass/introduce/identifyInfo.scss">
		<!-- endbuild -->
	</head>
	<body>
	<div class="container">
		<div class="content">
		<div class="title-sm"><div class="icon">1</div>什么是银行卡认证？为什么要银行卡认证？</div>
		<p>银行卡认证是指借贷宝合作的第三方银行类金融机构将用户输入的银行卡卡号、姓名、身份证号、银行预留手机号、
			取款密码（部分银行要求）同用户在银行留存的以上信息进行比对，以验证用户身份的真实性，同时用户可以使用通过认证
			的银行卡在平台上进行交易。</p>
		<p>由于个人的姓名、身份证号容易在网络上泄露，简单的通过姓名和身份证号比对的实名认证不能保证用户身份的真实性。
			银行卡认证过程中需要用户提供更多的个人信息，更进一步验证用户身份的真实性。</p>
			<div class="parting-line"></div>
		</div>
		<div class="content">
		<div class="title-sm"><div class="icon">2</div>如何进行银行卡认证？</div>
		<p>注册登录借贷宝后，进行实名认证并设置交易密码后，即可进行银行卡认证，在此过程中要求您填写的姓名、身份证号、
			银行预留手机号同在银行开户时提供的信息完全一致，并且提供正确的取款密码，才能完成关联。</p>
			<div class="img-display">
				<div class="thumbnail"><img src="../../img/introduce/card1.png"></div>
				<div class="img-info"><div class="icon-info">1</div>关联银行卡</div>
			</div>
			<div class="img-display">
				<div class="thumbnail"><img src="../../img/introduce/card2.png"></div>
				<div class="img-info"><div class="icon-info">2</div>跳转银联提示</div>
			</div>
			<div class="img-display">
				<div class="thumbnail"><img src="../../img/introduce/card3.png"></div>
				<div class="img-info"><div class="icon-info">3</div>银联认证页面</div>
			</div>
			<p>目前借贷宝已可关联主流银行的借记卡，包括工商银行、农业银行、中国银行、建设银行、交通银行、邮储银行、
				招商银行、民生银行、光大银行、中信银行、华夏银行、浦发银行、广发银行、兴业银行、上海银行、北京银行、
				平安银行、江苏银行、渤海银行等。</p>
			<div class="parting-line"></div>
		</div>
		<div class="content">
		<div class="title-sm"><div class="icon">3</div>银行卡认证失败了怎么办？</div>
		<p>银行卡认证失败通常是以下原因：<br><br>
			1.未开通无卡支付业务，请您拨打银行客服，开通手机端银联无卡支付业务；<br>
			2.银行预留手机号码输入有误，请您准确填写；<br>
			3.在办理银行卡时预留的是15位的身份证号，请您到银行更新身份信息并重新关联银行卡。
		</p>
			<div class="parting-line"></div>
		</div>
		<div class="content">
			<div class="title-sm"><div class="icon">4</div>为什么有些银行卡在关联时需要填写取款密码？</div>
			<p>为满足网络支付安全要求和合规要求，借贷宝为用户提供“五要素”认证，比一般的互联网金融支付平台多了
				“输入银行卡密码”这一要素。该增加的要素，将有效防范出现不法分子冒用用户名义与他人发生金融交易行为的风险。
				为保证用户信息安全，该密码输入和验证是跳转到银行类金融机构页面完成的，借贷宝无法留存该密码，
				监管部门也不允许留存该密码，借贷宝作为九鼎旗下的互联网金融公司，也不可能留存该密码。</p>
		</div>
	</div>
	<!-- build:js [jsBuildPath] -->
	<!-- endbuild -->
	</body>
</html>
