<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            百赚攻略
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="telephone=no" name="format-detection" />
        <!-- build:css [cssBuildPath] -->
        <link rel="stylesheet" href="/css/common/base.css">
        <link rel="stylesheet" href="/sass/introduce/makeMoney.scss">
        <!-- endbuild -->
    </head>

    <body>
        <div class="wrap">
            <div class="go_see clearFix">
                <div class="fl">人脉变钱脉，关注好友获得更多赚钱机会！</div>
                <a href="https://native.jiedaibao.com/web2Native/secondFriend" class="fr clearFix"><span class="fl">去关注</span><b class="fl"></b></a>
            </div>
            <div class="banner"></div>
            <!-- <div class="content">
                <p>在借贷宝您有多种方式白赚钱。可以邀请好友拿20元，可以赚利差人脉变钱脉，还可以揭榜、抽奖、领红包，开开心心玩出钱！</p>
            </div> -->
            <!--<div class="main">
                <div>
                    <img src="../../img/introduce/invite.png">
                    &nbsp;<span>邀请好友</span>
                    <a href="https://native.jiedaibao.com/web2Native/inviteNewFriend">去邀请好友</a>
                </div>
                <p>每邀请一位好友加入借贷宝，即可获得20元现金！</p>
            </div>-->
            <div class="main">
                <div>
                    <img class="interest" src="../../img/introduce/interest.png">
                    &nbsp;<span>赚利差</span>
                    <a href="https://native.jiedaibao.com/web2Native/maintab?tab=jdb">去赚利差</a>
                </div>
                <p>通过人脉帮助好友借钱，零成本赚取中间差价！</p>
            </div>
            <div class="main">
                <div>
                    <img class="borrow" src="../../img/introduce/borrow.png">
                    &nbsp;<span>低借高贷</span>
                    <a href="https://native.jiedaibao.com/web2Native/borrow">去低借高贷</a>
                </div>
                <p>低利率从好友处借入高利率借给他人，轻松赚取利差！ </p>
            </div>
            <div class="main">
                <div>
                    <img class="reward" src="../../img/introduce/reward.png">
                    &nbsp;<span>悬赏揭榜</span>
                    <a href="https://native.jiedaibao.com/web2Native/rewardList">去悬赏揭榜</a>
                </div>
                <p>去悬赏中揭榜，为好友解答问题就能拿赏金！</p>
            </div>
            <div class="main">
                <div>
                    <img class="redPacket" src="../../img/introduce/redPacket.png">
                    &nbsp;<span>活动红包</span>
					<a href="https://tradeapi.jiedaibao.com/mybankv21/cms/article/activity/getlist">去领取红包</a>
                    <!--<a href="http://119.254.111.25:1282/mybankv21/cms/article/activity/getlist?debug=devUrl">去领取红包</a>-->
                </div>
                <p>去参加借贷宝活动，一大波现金红包拿到手软！</p>
            </div>
        </div>
    </body>

</html>
