<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>更多时长</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/share.scss">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/common/dialog.scss">
    <link rel="stylesheet" href="/sass/introduce/newFlowPhone.scss" />
    <!-- endbuild -->
</head>
<body>
<div class="gray"></div>
<div class="investmentBox">
    <h3 class="shareTit">分享后请返回借贷宝哦</h3>
    <p>分享成功后，请从微信返回借贷宝，否则将无法领取到时长哟</p>
    <a class="" href="javascript:;">确定</a>
</div>
<article class="wrap">
    <div class="oClick" style="display: none">
        <div class="surplus">
            <img src="../../img/introduce/fpHead-1.png" />
            <p class="surplusMins">
                <span style="font-weight: 300;"></span><br>分钟剩余时长
            </p>
        </div>
        <ul class="firstBox">
            <li class="sign" style="display: none;">
                <img src="../../img/introduce/icon-sign.png" />
                <p>
                    <a class="signGo" href="javascript:;"></a><span>每天签到可获时长，连续签到奖励更多，每月高达300分钟</span>
                </p>
            </li>
            <li class="investNew" style="display: none;">
                <img src="../../img/introduce/icon-share.png" />
                <p>
                    <a class="investmentLink" href="javascript:;">去分享</a><span>每天首次分享“投资有道”文章到朋友圈，可获5分钟时长</span>
                </p>
            </li>
            <li class="investOld">
                <img src="../../img/introduce/icon-share.png" />
                <p>
                    <a href="https://native.jiedaibao.com/web2Native/investmentList">去分享</a><span>每天首次分享“投资有道”文章到朋友圈，可获5分钟时长</span>
                </p>
            </li>
            <li>
                <img src="../../img/introduce/icon-recharge.png" />
                <p>
                    <a id="rechargeTime" href="javascript:;">去充值</a><span>超低价充值，优惠和折扣不断</span>
                </p>
            </li>
        </ul>
        <article>
            <div class="listWords">
                <div>零话费零流量</div>
                <p>新用户免费获得50分钟时长。无论对方是否安装借贷宝，都可以呼叫，通话过程不消耗数据流量。<br><span>(温馨提示：非本地情况下拨打，运营商可能收取漫游接听费用)</span></p>
            </div>
            <div class="listWords">
                <div>多种方式获取时长</div>
                <p>每日登录、分享投资有道文章到朋友圈、参与抽奖活动、充值等均可获取时长</p>
            </div>
            <div class="listWords">
                <div>时长月底不清零</div>
                <p>购买和赠送的时长可跨多月使用，次年年底清零</p>
            </div>
        </article>
    </div>
    <article class="firstBnt" style="display: none;background:none;">
        <a href="javascript:;" class="invitation">邀好友一起用</a>
        <p>您的好友通过身份认证后可获得300分钟时长</p>
    </article>
    <article class="wrapSecond">
        <div class="listWords">
            <div>零话费零流量</div>
            <p>无论对方是否安装借贷宝，您随时可以通过专线电话呼叫对方，通话过程不耗用数据流量。 </p>
        </div>
        <div class="listWords">
            <div>高清通话音质</div>
            <p>借贷宝专线电话使用运营商通话线路，通话质量高。</p>
        </div>
        <div class="listWords">
            <div>免费时长赠送</div>
            <p>借贷宝送您50分钟的通话时长，每天签到还能获得时长奖励，连续签到奖励更多！</p>
            <ul class="signList">
                <li>连续签到1天奖励2分钟</li>
                <li>连续签到2天奖励3分钟</li>
                <li>连续签到3天奖励4分钟</li>
                <li>连续签到4天奖励6分钟</li>
                <li>连续签到5天或5天以上每天奖励8分钟</li>
            </ul>
            <p>通话时长可跨月使用，赶紧来用吧~</p>
        </div>
    </article>
</article>
<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/js/common/share.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/js/common/dialog.js"></script>
<script type="text/javascript" src="/js/introduce/newFlowPhone.js"></script>
<!-- endbuild -->
</body>
</html>
