<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            邀好友得奖金
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="telephone=no" name="format-detection" />
        <!-- build:css [cssBuildPath] -->
        <link rel="stylesheet" href="/css/common/base.css">
        <link rel="stylesheet" href="/sass/introduce/newUserReward.scss">
        <!-- endbuild -->
    </head>
    
    <body>
        <div class="wrap">
          <div>
            <h1>邀好友得奖金，多邀多得！</h1>
            <ul class="big">
                <li>您可以获得的奖励</li>
                <li>1.每邀请一位好友注册借贷宝并完成身份认证，您就可获得20元现金奖励，上不封顶，多邀多得。</li>
                <li>2.每一位您邀请的好友再邀请他人使用借贷宝后，您还可以再获得10元现金奖励，好友越多，收入越多。</li>
            </ul> 
            <ul class="big">
                <li>好友可以获得的奖励</li>
                <li>1.被邀请的好友都将免费获得300分钟借贷宝免费电话时长，手机座机随心拨打，拜年再也不怕通话时长不够了。</li>
                <li>2.被邀请的好友也有邀请的资格，他每邀请一位好友注册借贷宝并完成身份认证，也同样可以获得20元现金奖励，好友再邀请好友使用借贷宝，他也同样可以获得10元现金奖励。拉上好友一起来挣奖金吧！</li>
            </ul> 
            <ul class="big">
                <li>如何查看奖金</li>
                <li>以上所有的奖金都会实时打入您的借贷宝余额中，您可以直接提现，更可以在借贷宝中通过借贷、理财、余额生息等功能让钱生出更多的钱。</li>
            </ul> 
          </div>
           <a class="inviteFriend" href="jdbclient://native.jiedaibao.com/web2Native/inviteNewFriend">邀请好友</a> 
           <a class="usePhone" href="jdbclient://native.jiedaibao.com/web2Native/EnterVoipCenter">使用免费电话</a> 
        </div>
    </body>

</html>
