<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>如何开启通讯录权限</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="telephone=no" name="format-detection" />
        <!-- build:css [cssBuildPath] -->
        <link rel="stylesheet" href="/css/common/base.css">
        <link rel="stylesheet" href="/sass/introduce/operating.scss">
        <!-- endbuild -->
    </head>
    <body>
        <ul>
            <li>
                <p class="head">华为手机 <span>(多数机型可参考该方法)</span></p>
                <div>打开[设置] —— [权限管理] —— [(读取)联系人] —— 找到“借贷宝”，点击允许</div>
            </li>
            <li>
                <p class="head">小米手机</p>
                <div>在桌面上打开［安全中心］ —— （[授权管理]） ——［应用权限管理］—— 找到“借贷宝”，开启［读取联系人］开关</div>
            </li>
            <li>
                <p class="head">魅族手机</p>
                <div>打开［设置］——［应用控制]/[应用管理］—— 找到“借贷宝”——［权限管理］—— 将［读取联系人信息］设置为允许</div>
            </li>
        </ul>
        <div class="footer">
            <span>温馨提示：</span>不同手机型号及系统版本操作方式有所不同，以实际为准
        </div>
        <!-- build:js [jsBuildPath] -->
        <!-- endbuild -->
    </body>

</html>
