<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            肖像认证
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="telephone=no" name="format-detection" />
        <!-- build:css [cssBuildPath] -->
        <link rel="stylesheet" href="/css/common/base.css">
        <link rel="stylesheet" href="/sass/introduce/portraitInfo.scss">
        <!-- endbuild -->
    </head>
    
    <body>
        <div class="container">
            <div class="content">
                <div class="title-sm">
                    <div class="icon">
                        1
                    </div>
                    什么是肖像认证？为什么要肖像认证？
                </div>
                <p class="magin_p">
                    肖像认证是指借贷宝通过肖像识别系统采集用户的肖像信息，并将肖像信息与公安部所存的个人身份证照片进行比对，比对后认定为同一人即通过肖像认证。
                </p>
                <p class="magin_p">
                    由于个人的姓名、身份证号容易在网络上泄露，简单的通过姓名和身份证号比对的实名认证不能保证用户身份的真实性。借贷宝采用了最新的肖像识别技术来进行真人识别，能有效识别当前用户的身份，保障用户的资金安全，防止不法分子冒用用户身份进行交易。
                </p>
            </div>
            <div class="parting-line">
            </div>
            <div class="content">
                <div class="title-sm">
                    <div class="icon">
                        2
                    </div>
                    如何进行肖像认证？
                </div>
                <p>
                    新注册用户在完成实名认证和设置支付密码后可以选择进行肖像认证或银行卡认证，完成肖像认证或银行卡认证后，即可进行借入、借出和赚利差等交易。
                </p>
                <p>
                    已经完成关联银行卡的用户，如果未进行过肖像认证，系统会要求其在提现时进行肖像认证，认证成功才可提现，以保障用户资金安全。同时，该部分用户也可以在“钱包”页面，点击左上角“头像”进入详细资料页，点击“认证中心”进入认证中心页，在页面底部选择肖像认证。V1.3及以上版本所有用户均可使用肖像认证功能，对于更早版本的借贷宝APP，需要先升级至最新的客户端，才能继续进行操作。
                </p>
                <p>
                    肖像认证步骤如下图所示：
                </p>
                <div class="img-display">
                    <div class="thumbnail">
                        <img src="../../img/introduce/porta-01.png">
                    </div>
                    <div class="img-info">
                        <div class="icon-info">
                            1
                        </div>
                        肖像认证说明
                    </div>
                </div>
                <div class="img-display">
                    <div class="thumbnail">
                        <img src="../../img/introduce/porta-02.png">
                    </div>
                    <div class="img-info">
                        <div class="icon-info">
                            2
                        </div>
                        肖像认证注意事项
                    </div>
                </div>
                <div class="img-display">
                    <div class="thumbnail">
                        <img src="../../img/introduce/porta-03.png">
                    </div>
                    <div class="img-info">
                        <div class="icon-info">
                            3
                        </div>
                        肖像认证过程
                    </div>
                </div>
            </div>
            <div class="parting-line">
            </div>
            <div class="content">
                <div class="title-sm">
                    <div class="icon">
                        3
                    </div>
                    肖像认证不成功怎么办？
                </div>
                <p>
                    首先，注意以下事项有助于提高肖像认证通过率：
                </p>
                <p>
                    1.请将脸部正对手机；
                </p>
                <p>
                    2.请在光线充足的地方进行肖像认证；
                </p>
                <p>
                    3.请不要佩戴眼镜、帽子；
                </p>
                <p>
                    4.请露出耳朵；
                </p>
                <p>
                    肖像认证多次失败时，系统会提示您提交资料进行人工审核。人工审核时，按照提示分别拍摄身份证正面、身份证反面、手持身份证正面照片并提交即可。肖像认证10次没通过时，您将不能再进行肖像认证，只能通过人工审核流程完成身份认证。您也可以通过银行卡认证来验证您的身份。
                </p>
            </div>
        </div>
        <!-- build:js [jsBuildPath] -->
        <!-- endbuild -->
    </body>

</html>
