<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>版本信息</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/introduce/version.scss" />
    <!-- endbuild -->
</head>

<body>
<div class="container">
<div class="wrap">
    <div class="logo">
    <img  src="../../img/introduce/logo77.png"> </img>
        <span class="version">借贷宝 <span class="versionNum"></span>
        </span>
    </div>
    <div class="versionInfo">
    <div class="listWords_notext">
    </div>

    <div class="listWords">
        <div><span class="versionNum"></span>版更新动态</div>
        <ol class="signList first">
            <li>羽泉代言借贷宝，和明星一起开心玩出钱；</li>
            <li>新增悬赏功能，解疑答惑，随时领取赏金；</li>
            <li>新增手动还款功能，到期后一键还款，有借有还，再借不难；</li>
            <li>更多借款人信息披露；</li>
            <li>更多功能细节优化。</li>
        </ol>
        <ol class="signList second">
            <li>开通好友人脉圈，可迅速拓展好友数量；</li>
            <li>好友“标签”优化，同时支持好友分组；</li>
            <li>新增官方悬赏活动，抢红包大战一触即发；</li>
            <li>催收进展优化，立体全方位展示催收信息；</li>
            <li>收还款功能优化，款项明细一目了然；</li>
            <li>其余200项功能细节优化。</li>
        </ol>
         <ol class="signList third">
            <li>转让变现：借款转让 ，借出标的灵活变现 ，无忧抢标；</li>
            <li>百赚榜：看看你的好友怎么零成本赚钱；</li>
            <li>余额生息：随存随取 ，轻松赚取高收益；</li>
            <li>更多功能细节优化；</li>
        </ol>
        <ol class="signList four">
            <li>人人催：全方位催收，您的资金安全有保障！</li>
            <li>签到有礼：连续登陆有惊喜，巨额奖金等你抢！</li>
            <li>分享有奖：赚了钱别忘犒劳朋友，给他发个大红包吧。</li>
            <li>针对借贷宝的产品做了百余功能点的优化，让您使用客户端更加顺畅、稳定。</li>
        </ol>
        <ol class="signList five">
            <li>新增企业版：支持员工投资企业 降低企业融资成本。</li>
            <li>企业主可登录pc官网：https://qiye.jiedaibao.com 进行申请注册</li>
            <li>针对借贷宝产品做了百余项功能点的优化，让您使用客户端更加顺畅、稳定。</li>
        </ol>
        <ol class="signList six">
            <li>新增让好友帮忙引荐功能，让好友推荐靠谱的熟人；</li>
            <li>支持一键分享名片，方便加更多好友；</li>
            <li>针对借贷宝产品做了百余项功能点的优化，让您使用客户端更加顺畅、稳定。</li>
        </ol>
        <ol class="signList seven">
            <li>好友关系全面升级；</li>
            <li>您只需关注好友即可投资；</li>
            <li>增加好友推荐场景，更方便找到熟悉的人；</li>
            <li>针对借贷宝产品做了百余项功能点的优化，使用户体验更佳。</li>
        </ol>
        <ol class="signList eight">
            <li>新用户专享福利，不用花钱体验借贷流程，白赚利息；</li>
            <li>好友引荐、可能认识人、标签等功能优化，全面提升用户体验；</li>
            <li>针对借贷宝产品做了百余项功能点的优化，让您使用客户端更加稳定。</li>
        </ol>
        <ol class="signList nine">
            <li>8月8日周年庆典，狂送大奖，祝您好运；</li>
            <li>修复已知bug ，优化多项功能。</li>
        </ol>
        <ol class="signList ten">
            <li>周年庆特别活动：分享成绩单，赢马尔代夫双人游；</li>
            <li>全面优化各项功能，提升用户体验。</li>
        </ol>
    </div>
    <!-- <div class="listWords nine">
        <div>近期更新</div>
        <ol class="signList">
            <li>新用户专享福利，不用花钱体验借贷流程，白赚利息；</li>
            <li>好友引荐、可能认识的人、标签等功能优化，全面提升用户体验；</li>
            <li>针对借贷宝产品做了百余项功能点的优化，让您使用客户端更加稳定。</li>
        </ol>
    </div> -->
</div>

</div>
<div class="footer">
    <a href="https://app.jiedaibao.com/registerAgreement/index.html">《用户注册协议》</a>
    <a href="https://app.jiedaibao.com/h5app/partials/introduce/paymentAgreement.html">《金佰仕支付服务协议》</a>
    <ul>
        <li>人人行科技股份有限公司 版权所有</li>
        <li>Copyright ©  2016 Jiedaibao.com. All Rights Reserved.</li>
    </ul>
</div>
</div>
</body>

<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<!-- endbuild -->

<script type="application/javascript">
$(function () {
    var version =url('?clientVersion');
    $(".versionNum").html(version);

    $('.signList').hide();

    switch(version)
    {
    case '2.4.0':
        $(".ten").show();
        break;
    case '2.3.9':
        $(".nine").show();
        break;
    case '2.3.8':
        $(".eight").show();
        break;
    case '2.3.5':
        $(".seven").show();
        break;
    case '2.3.3':
        $(".seven").show();
        break;
    case '2.3.2':
        $(".seven").show();
        break;
    case '2.3.0':
        $(".seven").show();
        break;
    case '2.3.1':
        $(".seven").show();
        break;
    case '2.2.0':
        $(".six").show();
        break;
    case '2.1.5':
        $(".five").show();
        break;
    case '2.1.0':
        $(".four").show();
        break;
    case '2.0.0':
        $(".third").show();
        break;
    case '1.9':
        $(".second").show();
        break;
    default:
      $(".first").show();
    }

     function fixFooter(){
        var containerHeight = document.getElementsByClassName("container")[0].scrollHeight;
        var footer = document.getElementsByClassName("footer")[0];
        var allHeight = document.documentElement.clientHeight;
        if(containerHeight < allHeight){
            footer.style.visibility="visible";
            footer.style.position = "absolute";
            footer.style.bottom = "0"
        }
        else
        {
            footer.style.visibility="visible";
        }
    }
    setTimeout(function(){
        fixFooter();
    }, 100);
});


</script>

</html>
