<!DOCTYPE html>
<html>
<head>
   	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
	<!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/jumpPage/index.scss">
	<!-- endbuild -->
</head>
<body>
        <img class="runbg" src="../../img/jumpPage/running.png" alt="" />
        <p class="manual">如果启动不成功，请手动打开借贷宝APP</p>
        <p class="rd">点击这里重新下载安装借贷宝APP</p>
        <a href="http://jdb.jiudingcapital.cn/download.html" target="_blank" class="download">下载借贷宝</a>
        <a id="jump" class="jp"href="jdbclient://native.jiedaibao.com/web2Native/borrowOutlinePage"></a>
    <!--build:js [jsBuildPath]-->
    <script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
    <script type="text/javascript" src="/js/jumpPage/index.js"></script>
    <!--endbuild-->
</body>
</html>
