<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>支付结果</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/payment/queryPayResult.scss">
    <!-- endbuild -->
</head>
<body>
    <div class="pay-logo-wraper">
        <img class="success_pic" src="../../img/payment/queryPayResult/success.png" alt="">
    </div>
    <div class="result-wraper">
        <div id="success" v-cloak>
            <ul class="success_area">
                <li class="success_text random_success">付款成功</li>
                <li class="money ">￥{{orderInfos.payedTotal}}</li>
                <li v-if="orderInfos.payedTotal != orderInfos.orderTotal"  class="money payed-total"><span class="order-total">￥{{orderInfos.orderTotal}}</span></li>
                <li class="coupon_money marginBtom payTips">{{orderInfos.payTips}}</li>
                <!-- <li class="where_method" v-cloak>{{orderInfos.merName}}: {{orderInfos.payType | payTypeFilter}}</li> -->
            </ul>
            <ul class="mingXiList">
                <!-- <li class="hasBorderTop">订单金额<span>{{orderInfos.payedTotal}}</span></li> -->
                <li v-for="item in orderInfos.list">{{item.key}}<span>{{item.value}}</span></li>
            </ul>
            <ul class="btn_group">
                <li class="btn1" v-on:click="continuePay($event)">完成</li>
            </ul>
        </div>
    </div>
    <!-- build:js [jsBuildPath] -->
    <script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
    <script type="text/javascript" src="/js/common/toast.js"></script>
    <script type="text/javascript" src="/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/js/payment/queryPayResult.js"></script>
    <!-- endbuild -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2405b35e6ac1ae53a3c40ddff29c3f78";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
