<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>提示</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/payment/tipsDownload.scss">
    <!-- endbuild -->
</head>
<body>
<article>
    <img src="../../img/payment/tipFace.png" />
    <div>啊哦，您的打开方式不对</div>
    <p>请使用借贷宝“扫一扫”完成支付</p>
</article>
<div class="tipBottom">
    <span>没有借贷宝，快去下载享优惠吧！</span>
    <a href="http://jdb.jiudingcapital.com/download.html">立即下载</a>
</div>
</body>
</html>
