<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>提示</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/payment/tipsUpdate.scss">
    <!-- endbuild -->
</head>
<body>
<article>
    <img src="../../img/payment/tipUpdate.png" />
    <div>您当前版本无法使用扫码支付功能<br>请升级至最新版本</div>
    <a href="http://jdb.jiudingcapital.com/download.html">马上升级</a>
</article>
</body>
</html>
