body {
	box-sizing: border-box;
}
img {
	width: 102px;
	height: 95px;
	margin: 0 auto;
	display: block;
	padding-top: 10%;
}
#text {
	text-align: center;
	font-size: 21px;
	margin: 6%;
}
.title,ul {
	color: #656566;
	font-size: 14px;
	padding: 0 8%;
}
.title,li {
	margin: 2%;
}