<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>借贷宝－人脉变钱脉</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/targetPro/targetBind.scss">
    <!-- endbuild -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div class="wrap">
    <div class="top">
        <img class="banner" src="../../img/public/banner.png">
    </div>
    <div class="main main_bind">
        <p>输入手机号，查看借款详情</p>
        <div class="moblie_wrap"><input class="moblie" type="tel" maxlength="13"></div>
        <div class="code_num">
            <input  class="code_value" type="tel"  maxlength="6"/>
            <button class="getCode">获取验证码</button>
        </div>
    </div>
</div>
<div class="btn">
    <a class="callDurationBtn" >提交</a>
    <a class="chatHtml" href="../public/chat.html">借贷宝是什么 <img src="../../img/public/jiantou.png"></a>
</div>

<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/blueimp-md5/js/md5.min.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/Zepto-Cookie/zepto.cookie.min.js"></script>
<script type="text/javascript" src="/js/common/loading.js"></script>
<script type="text/javascript" src="/js/common/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/common/auth.js"></script>
<script type="text/javascript" src="/js/targetPro/targetBind.js"></script>
<!-- endbuild -->
</body>
</html>
