<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>借贷宝－人脉变钱脉</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection" />
    <!-- build:css [cssBuildPath] -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/sass/common/toast.scss">
    <link rel="stylesheet" href="/sass/targetPro/targetDetail.scss">
    <!-- endbuild -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b65227112318be3ab7c8c12a81815fd7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div class="wrap">
    <div class="top">
        <img class="banner" src="../../img/public/banner.png">
        <!-- <div class="head"><img id="headImg" src=""></div> -->
    </div>
    <div class="main">
        <div class="wenzi">
           <!--  <p class="mian-title">锅包肉</p> -->
            <p class="detail-title">如何查看借款详情</p>
        </div>
        <div class="ct_txt targetPro-detail-text1">
            下载并注册借贷宝，随后进入<em>发现</em>－<em>小秘书</em>，
            <span>根据引导即可查看该借款详情</span>
        </div>
        <div class="ct_txt targetPro-detail-text2">
            登录借贷宝，
            <span>在<em>借贷宝首页</em>便能看到该借款信息。</span>
        </div>
        <div class="ct_txt targetPro-detail-text3">
            登录借贷宝，进入<em>发现</em>－<em>小秘书</em>，
            <span>根据引导即可查看该借款详情。</span>
        </div>
    </div>
</div>
<div class="btn">
    <a class="callDurationBtn" href="http://jdb.jiudingcapital.cn/download.html">下载借贷宝</a>
    <a class="chatHtml" href="../public/chat.html">借贷宝是什么 <img src="../../img/public/jiantou.png"></a>
</div>

<!-- build:js [jsBuildPath] -->
<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
<script type="text/javascript" src="/zepto.js/src/touch.js"></script>
<script type="text/javascript" src="/blueimp-md5/js/md5.min.js"></script>
<script type="text/javascript" src="/js-url/url.min.js"></script>
<script type="text/javascript" src="/Zepto-Cookie/zepto.cookie.min.js"></script>
<script type="text/javascript" src="/js/common/toast.js"></script>
<script type="text/javascript" src="/js/common/loading.js"></script>
<script type="text/javascript" src="/js/common/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/targetPro/targetDetail.js"></script>
<!-- endbuild -->
</body>
</html>
