<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>保险授权</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta content="telephone=no" name="format-detection" />
		<!-- build:css [cssBuildPath] -->
	    <link rel="stylesheet" href="/sass/agreement/common.scss">
	    <link rel="stylesheet" href="/sass/getRight/insurance.scss">
		<!-- endbuild -->
	</head>

	<body>
		<div class="mainContainer">
			<img class="banner" src="../../img/getRight/baoxianBanner.png">
			<div class="innerContainer">
				<p>
					该服务有武曲星提供，确认同意向其提供用户信息授权即可操作。
				</p>
				<p>
					<img src="../../img/getRight/on1.png" class="checkbox" data-ifchecked="true">
					我已阅读并同意<a class="agreement">《用户服务协议》</a>
				</p>
				<button class="confirm">
					确定
				</button>
			</div>
		</div>

	<!-- build:js [jsBuildPath] -->
	<script type="text/javascript" src="/zepto.js/dist/zepto.min.js"></script>
	<script type="text/javascript" src="/js/getRight/insurance.js"></script>
	<!-- endbuild -->
	</body>
</html>
